h4{
    font-family: 'SF Pro Display';
    color: #666666;
    font-size: 25px;
    font-weight: 100;
    margin: 0px;
}

ion-input{
    border-bottom: 1px solid #E9E9E9;
    font-family: 'SF Pro Display';
    color: #666666;
    font-size: 14px;
}

ion-item{
    ion-label{
        font-family: 'SF Pro Display';
        color: #666666;
        font-size: 14px;
        min-width: 130px;
    }
}

ion-chip{
    grid-column: 2;
    grid-row: 2;
    width: 150px;
    height: 30px;
    --background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);
    background: linear-gradient(90deg, #ce5cdc 0%, #419bcc 50%, #57dfc2 100%);
    border: none;
    position: relative;
    padding: 2px;
    display: block;
    margin: auto;
    ion-label{
        width: 146px;
        background: #ffffff;
        font-family: "SF Pro Display";
        font-size: 12px !important;
        color: #666666;
        padding: 7px 0px;
        border-radius: 50px;
        margin: 0px !important;
        display: block;
    }
}

.circle fa-icon::ng-deep svg * {
    fill: url(#lgrad);
  }

  .circle{
      ion-label{
          fa-icon{
            display: block;
            font-size: 50px;
          }
          h5{
            font-family: 'SF Pro Display';
            color: #666666;
            font-size: 14px;
            font-weight: bold;
          }
      }
  }

.disabled{
    opacity: 0.4;
}