<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes-selected.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col class="ion-padding-vertical">
      <h4>Cambiar contraseña</h4>
    </ion-col>
  </ion-row>
  <form #contrasenaForm="ngForm" [formGroup]="contrasenaform">
  <ion-row *ngIf="!cambio">
    <ion-col>
      <ion-item color="none" lines="none" mode="md">
        <ion-label position="fixed" class="ion-text-wrap" mode="md">Contraseña actual</ion-label>
        <ion-input formControlName="actual" type="password" mode="md"></ion-input>
      </ion-item>
      <ion-item color="none" lines="none" mode="md">
        <ion-label position="fixed" class="ion-text-wrap" mode="md">Contraseña nueva</ion-label>
        <ion-input formControlName="nueva" type="password" mode="md"></ion-input>
      </ion-item>
      <ion-item color="none" lines="none" mode="md">
        <ion-label position="fixed" class="ion-text-wrap" mode="md">Repetir contraseña</ion-label>
        <ion-input formControlName="repetir" type="password" mode="md"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!cambio" class="ion-padding-vertical">
    <ion-col class="ion-padding-vertical">
      <ion-chip (click)="oncambio()" [class.disabled]="!contrasenaform.valid" mode="md">
        <ion-label class="ion-text-center">Cambiar contraseña</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
  </form>
  <ion-row class="ion-padding" *ngIf="cambio">
    <ion-col class="ion-padding" class="circle">
      <ion-label class="ion-text-center">
        <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
        <h5>¡Contraseña cambiada con éxito!</h5>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-content>

