.title{
    ion-icon{
        color: #DBDBDB;
        margin-right: 10px;
    }
    h4{
        font-family: 'SF Pro Display';
        color: #666666;
        font-size: 25px;
        font-weight: 100;
        margin-top: 10px;
    }
}