<div class="inner-content">
  <ion-list>
    <ion-grid><ion-col></ion-col></ion-grid>
    <ion-item lines="none" mode="md">
      <ion-label class="ion-text-center label-item">
        {{title}}
      </ion-label>
    </ion-item>
   
    <ion-item mode="md" lines="none" *ngFor="let opcion of opciones" [id]="opcion.id" (click)="dismiss(opcion.id,opcion.texto)" class="ion-padding-horizontal ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon slot="start" src="/assets/icon/ico-ajustes-ayuda.svg"></ion-icon>
      <ion-label>
        <p>{{opcion.texto}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</div>

