<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes-selected.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col class="ion-padding-vertical">
      <h4>Privacidad</h4>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size=12 class="ion-no-padding">
      <ion-list lines="none" class="ion-no-padding" mode="md">
        <ion-item lines="none" [class.seleccionado]="privado" mode="md">
          <ion-label>
            <h3 *ngIf="privado">Tu cuenta es privada</h3>
            <h3 *ngIf="!privado">Tu cuenta es pública</h3>
            <p *ngIf="privado">Tu contenido lo verán solo tus contactos.</p>
            <p *ngIf="!privado">Activa esta casilla para hacerla privada.</p>
          </ion-label>
          <ion-toggle slot="start" [(ngModel)]="privado" mode="ios"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size=12 class="textos">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <p>Si tu cuenta es pública, tu contenido aparecerá compartido en el muro general de Babybook</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <p>Si quieres compartir solo algunas publicaciones, debes seleccionar "Pública", al momento de públicar. Esta opción esta disponible para todos los usuarios.</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>
