h4{
    font-family: 'SF Pro Display';
    color: #666666;
    font-size: 25px;
    font-weight: 100;
    margin: 0px;
}

ion-toggle{
    --background-checked: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);
}

ion-list{
    ion-item{
        border-top: 1px solid #EBEBEB;
        border-bottom: 1px solid #EBEBEB;
        ion-label{
            h3{
                font-family: 'SF Pro Display';
                font-size: 14px;
                color: #666666;
            }
            p{
                font-family: 'SF Pro Display';
                font-size: 12px;
                color: #666666;
            }
        }
    }

    .seleccionado{
        --background: #EBEBEB;
        ion-label h3{
            font-weight: bold;
        }
    }
}

.textos{
    ion-item{
        p{
            font-family: 'SF Pro Display';
            font-size: 12px;
            color: #666666;
        }
    }
}