<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes-selected.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-col>
        <ion-item lines="none" mode="md" class="ion-no-padding title">
          <ion-icon mode="ios" slot="start" name="chevron-back" [routerLink]="['/tabs/ayuda']"></ion-icon> 
          <h4>Contactar a Babybook</h4>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col class="ion-padding-horizontal">
        <ion-textarea rows="8" placeholder="Escribe la razón de tu contacto:"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col class="ion-padding-horizontal">
        <ion-chip mode="md">
          <ion-label class="ion-text-center">Enviar</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  
</ion-content>
