.title{
    ion-icon{
        color: #DBDBDB;
        margin-right: 10px;
    }
    h4{
        font-family: 'SF Pro Display';
        color: #666666;
        font-size: 25px;
        font-weight: 100;
        margin-top: 10px;
    }
}

ion-textarea{
    border: 1px solid #E9E9E9;
    font-family: "SF Pro Display";
    color: #666666;
    font-size: 14px;
}

ion-chip{
    grid-column: 2;
    grid-row: 2;
    width: 90px;
    height: 25px;
    --background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);
    background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);
    border: none;
    position: relative;
    padding: 2px;
    ion-label{
        width: 88px;
        background: #ffffff;
        font-family: "SF Pro Display";
        font-size: 12px!important;
        color: #666666;
        padding: 5px 0px;
        border-radius: 50px; 
        margin: 0px!important;
    }
}