ion-list{
    ion-item{
        border-bottom: 1px solid #EEEEEE;
    }
    ion-item:nth-child(2){
      border-top: 1px solid #EEEEEE;
      background: #F1F1F1;
      --background: #F1F1F1;
    }
    .user-details{
        margin-left: 10px;
        width: 100%;
        .user-name{
          font-family: 'SF Pro Display';
          font-size: 14px;
          margin: 5px 0;
          font-weight: bold;
          color: #666666;
        }
        .user-place{
          font-family: 'SF Pro Display';
          font-size: 14px;
          color: #666666;
          margin: 0px;
        }
        .user-time{
          font-family: 'SF Pro Display';
          font-size: 12px;
          color: #7F7F7F;
          margin: 5px 0;
        }
      }
}

ion-footer{
    ion-button{
        width: 45px;
        height: 45px;
        --background: white;
        background: white;
        --box-shadow: none;
        border-radius: 16px;
    }
    ion-icon{
      width: 40px;
      height: 40px;
    }
}

ion-grid{
  display: grid;
  grid-template-columns: auto 30px auto;
  padding-bottom: 10px;
  ion-col{
      grid-column: 2;
      padding: 0px;
      border: 1px solid #CACACA;
      height: 3px;
      border-radius: 1px;
  }
}

.time-user-heart{
  display: flex;
  .heartcoment{
    font-size: 22px;
  }
  .user-time{
    margin: 2px;
  }
}

ion-input{
  font-family: 'SF Pro Display';
  font-size: 12px;
  color: #666666;
}