<div class="inner-content content-modal">
  <ion-list>
    <ion-grid><ion-col></ion-col></ion-grid>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-img *ngIf="imagen == '' || imagen == null" src="/assets/img/ico-user-72x72.svg"></ion-img>
        <ion-img *ngIf="imagen != ''" src={{apiurl}}{{imagen}}></ion-img>
      </ion-avatar>
      <div class="user-details">
        <p class="user-name">{{usuario}}</p>
        <p class="user-place">{{descripcion}}</p>
        <div class="time-user-heart">
          <ion-icon class="heartcoment" *ngIf="!heart" src="/assets/icon/ico-publicacion-love.svg" mode="md"></ion-icon> 
          <ion-icon class="heartcoment" *ngIf="heart" src="/assets/icon/ico-publicacion-love-active.svg" mode="md"></ion-icon> 
          <p class="user-time">{{postfecha | date: 'MMM d, y'}}</p>
        </div>
      </div>
    </ion-item>
    <ion-item lines="none" *ngFor="let comentario of comentarios">
      <ion-avatar slot="start">
        <ion-img *ngIf="comentario.author_img == '' || comentario.author_img == null" src="/assets/img/ico-user-72x72.svg"></ion-img>
        <ion-img *ngIf="comentario.author_img != ''" src={{apiurl}}{{comentario.author_img}}></ion-img>
      </ion-avatar>
      <div class="user-details">
        <p class="user-name">{{comentario.author_name}}</p>
        <p class="user-place">{{comentario.text}}</p>
        <div class="time-user-heart">
          <ion-icon class="heartcoment" *ngIf="!heart" src="/assets/icon/ico-publicacion-love.svg" mode="md"></ion-icon> 
          <ion-icon class="heartcoment" *ngIf="heart" src="/assets/icon/ico-publicacion-love-active.svg" mode="md"></ion-icon> 
          <p class="user-time">{{comentario.create_at | date: 'MMM d, y' }}</p>
        </div>
      </div>
    </ion-item>
  </ion-list>
</div>

<ion-footer>
  <ion-item lines="none">
    <ion-input placeholder="Comentar..." [formControl]="comentario"></ion-input>
    <ion-button slot="end" (click)="comentar()">
      <ion-icon *ngIf="comentario.errors?.required" slot="icon-only" src="/assets/icon/ico-publicacion-comentar.svg"></ion-icon>
      <ion-icon *ngIf="!comentario.errors?.required" slot="icon-only" src="/assets/icon/ico-publicacion-comentar-active.svg"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
