<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book-selected.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row class="ion-padding-horizontal ion-padding-top" *ngFor="let hijo of hijos" [id]="hijo.id">
    <ion-col size=12>
      <ion-label class="book-title">Libro {{hijo.nombre}}</ion-label>
    </ion-col>
    <ion-col size=4 class="col-grafico">
      <round-progress [current]="hijo.current" [max]="100" [color]="'url(#gradient)'"
      [duration]="800" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
      <ion-text class="ion-text-center number">
        {{hijo.current}}%
      </ion-text>
    </ion-col>
    <ion-col size=8 class="col-texto">
      <div>
      <ion-label class="book-text">
        {{usuario.username}}, hasta ahora has completado el {{hijo.current}}% del Babybook de {{hijo.nombre}}
      </ion-label>
    </div>
      <ion-chip [routerLink]="['/tabs/editar/',hijo.id]" mode="md">
        <ion-label class="ion-text-center">Editar Libro</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<svg width="0" height="0">
  <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
    <stop offset="0%"  stop-color="#ce5cdc"/>
    <stop offset="50%" stop-color="#419bcc"/>
    <stop offset="100%" stop-color="#57dfc2"/>
  </linearGradient>
</svg>
