.book-title{
    font-family: 'SF Pro Display';
    font-size: 22px;
    color: #666666;
    font-weight: 100;
}

.book-text{
    font-family: 'SF Pro Display';
    font-size: 14px;
    color: #666666;
}

ion-chip{
    width: 90px;
    height: 25px;
    --background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);
    background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);
    border: none;
    position: relative;
    padding: 2px;
    ion-label{
        width: 88px;
        background: #ffffff;
        font-family: "SF Pro Display";
        font-size: 12px;
        color: #666666;
        padding: 5px 0px;
        border-radius: 50px; 
    }
}

.number{
    font-family: 'SF Pro Display';
    font-size: 30px;
    font-weight: 100;
    color: #83BFC8;
    position: absolute;
    top: 34px;
    left: 25px;
}

round-progress{
    width: auto!important;
    height: auto!important;
    position: relative;
}

.book fa-icon::ng-deep svg * {
    fill: url(#lgrad);
  }

  @media (min-width: 768px) {
    .col-grafico{
        padding: 0px 50px;
    }
    .col-texto{
        display:grid;
    }

    .book-text{
        font-size: 15px;
        line-height: 25px;
    }

    .number{
        font-family: "SF Pro Display";
        font-size: 40px;
        font-weight: 100;
        color: #83BFC8;
        position: absolute;
        top: 30%;
        left: 36%;
    }


  }