ion-item{
    border-bottom: 1px solid #F1F1F1;
    height: 50px;
    --min-height: 50px;
    p{
        font-family: 'SF Pro Display';
        font-size: 14px;
        color: #666666;
    }
    ion-label{
        margin: 0px;
    }
}

ion-item:last-child{
    border-bottom: none;
}

ion-grid{
    display: grid;
    grid-template-columns: auto 30px auto;
    ion-col{
        grid-column: 2;
        padding: 0px;
        border: 1px solid #CACACA;
        height: 3px;
        border-radius: 1px;
    }
}