<div class="inner-content">
  <ion-list>
    <ion-grid><ion-col></ion-col></ion-grid>
    <ion-item lines="none" (click)="dismiss()" mode="md">
      <ion-label>
        <p>Reportar</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="dismiss()" mode="md">
      <ion-label>
        <p>Activar Notificaciones</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="dismiss()" mode="md">
      <ion-label>
        <p>Silenciar</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="dismiss()" mode="md">
      <ion-label>
        <p>Dejar de seguir</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
