<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="usuario" mode="md" [routerLink]="['/tabs/datos']">
    <ion-avatar slot="start" class="avatar">
      <ion-img *ngIf="usuario.img != ''" src={{apiurl}}{{usuario.img}}></ion-img>
      <ion-img *ngIf="usuario.img == '' || usuario.img == null" src="/assets/img/ico-user-72x72.svg"></ion-img>
    </ion-avatar>
    <ion-label>
      <h3>{{usuario.nombre}} {{usuario.apellido}}</h3>
      <p *ngIf="usuario.nacionalidad != 'null' && edad > 0">{{usuario.nacionalidad}}, {{edad}} años.</p>
      <p class="editar">Editar Perfil</p>
    </ion-label>
  </ion-item>

  <ion-grid class="siguiendo">
    <ion-row class="seguir">
      <ion-col size=4 class="siguen ion-activatable" [routerLink]="['/tabs/seguidores']">
        <ion-ripple-effect></ion-ripple-effect>
        <p class="nop">Te siguen</p>
        <p class="number">{{seguidores}}</p>
      </ion-col>
      <ion-col size=4 class="sigues ion-activatable" [routerLink]="['/tabs/follows']">
        <ion-ripple-effect></ion-ripple-effect>
        <p class="nop">Sigues a</p>
        <p class="number">{{sigues}}</p>
      </ion-col>
      <ion-col size=4 class="publicado ion-activatable" [routerLink]="['/tabs/muro/usuario/', usuario.id]">
        <ion-ripple-effect></ion-ripple-effect>
        <p class="nop">Has publicado</p>
        <p class="number">{{post}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="total" *ngIf="sons > 0">¡Felicidades, tienes {{sons}} babybooks!</p>
        <p class="total" *ngIf="sons == 0">Aun no tienes babybooks</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="hijoslist ion-no-padding">
    <ion-item lines="none" [routerLink]="['/tabs/muro/hijo', hijo.id]" mode="md" *ngFor="let hijo of hijos" [id]="hijo.id">  
      <ion-avatar slot="start">
        <ion-img *ngIf="hijo.foto != ''" src="{{apiurl}}{{hijo.foto}}"></ion-img>
        <ion-img *ngIf="hijo.foto == '' || hijo.foto == null" src="/assets/img/ico-user-line-36x36.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p>{{hijo.nombre}}</p>
      </ion-label>
    </ion-item>
   
    <ion-item lines="none" [routerLink]="['/tabs/agregar']" mode="md">
      <ion-icon slot="start" src="/assets/icon/ico-user-add-36x36.svg" class="add-icon"></ion-icon>
      <ion-label>
        <p>Agregar hijo</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>