.usuario{
    padding: 10px;
    ion-label{
        h3{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #666666;
            font-weight: bold;
        }
        p{
            font-family: 'SF Pro Display';
            font-weight: 200;
            font-size: 14px;
            color: #666666;
        }
        .editar{
            font-size: 12px;
            font-weight: 200;
            color: #83BFC8!important;
        }
    }
}

.avatar{
    width: 72px;
    height: 72px;
}

.siguiendo{
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    padding:0px;
    text-align: center;
    ion-col{
        padding: 0px 10px;
        .nop{
            font-family: 'SF Pro Display';
            color: #666666;
            margin-bottom: 0px;
            font-size: 12px;
            margin-top: 6px;
        }
        .number{
            font-family: 'SF Pro Display';
            color: #666666;
            margin-top:5px;
            font-size: 16px;
            margin-bottom: 6px;
        }
    }
    .sigues{
        border-left: 1px solid #F1F1F1;
        border-right: 1px solid #F1F1F1;
    }
    .seguir{
        border-bottom: 1px solid #F1F1F1;
    }
}

.total{
    font-family: 'SF Pro Display';
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    margin: 17px 0;
}

.hijoslist{
    ion-avatar{
        width: 36px;
        height: 36px;
    }
    ion-item{
        border-bottom: 1px solid #F1F1F1;
        height: 50px;
        --min-height: 50px;
        min-height: 50px;
    }
    ion-label{
        p{
            font-family: 'SF Pro Display';
            color: #666666;
            font-size: 14px;
        }
    }
    ion-icon{
        width: 36px;
        height: 36px;
        margin: 8px 0px;
        margin-right: 16px;
    }
}