<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book-selected.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col>
      <ion-label class="title">
        Libro
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size=3></ion-col>
    <ion-col size=6>
      <round-progress [current]="0" [max]="100" [color]="'url(#gradiente)'"
      [duration]="800" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
      <ion-text class="ion-text-center number">
        0%
      </ion-text>
    </ion-col>
    <ion-col size=3></ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal ion-padding-bottom">
    <ion-col>
      <ion-label class="recomendacion">
        Te quedan 100 días para editar. Sigue estas recomendaciones para completar el Babybook antes de la fecha de emisión.
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <ion-list lines="none" class="ion-no-padding" mode="md">
        <ion-item lines="none" [routerLink]="['/tabs/paginas/page/', id]" mode="md">
          <ion-label>
            <h3>Selecciona las páginas del libro.</h3>
            <p>Editar páginas</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" [routerLink]="['/tabs/paginas/ficha/', id]" mode="md">
          <ion-label>
            <h3>Completa la ficha de tu hijo.</h3>
            <p>Editar ficha</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" [routerLink]="['/texto']" mode="md">
          <ion-label>
            <h3>Escribele una carta.</h3>
            <p>Publicar texto</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" [routerLink]="['/tabs/paginas/diseno/',id]" mode="md">
          <ion-label>
            <h3>Selecciona una plantilla de diseño.</h3>
            <p>Editar diseño</p>
          </ion-label>
        </ion-item>        
        <ion-item lines="none" [routerLink]="['/tabs/paginas/page/',id]" mode="md">
          <ion-label>
            <h3>Selecciona los comentarios de cada página.</h3>
            <p>Editar páginas</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>

<svg width="0" height="0">
  <linearGradient id="gradiente" x1="0" x2="0" y1="0" y2="1">
    <stop offset="0%"  stop-color="#ce5cdc"/>
    <stop offset="50%" stop-color="#419bcc"/>
    <stop offset="100%" stop-color="#57dfc2"/>
  </linearGradient>
</svg>
