.title{
    font-family: 'SF Pro Display';
    font-size: 20px;
    color: #666666;
    font-weight: 100;
}

.recomendacion{
    font-family: 'SF Pro Display';
    font-size: 14px;
    color: #666666;
}

ion-label{
    h3{
        font-family: 'SF Pro Display';
        font-size: 14px;
        color: #666666;
    }
    p{
        font-family: 'SF Pro Display';
        font-size: 12px;
        color: #82BEC7;
    }
}

.number{
    font-family: 'SF Pro Display';
    font-size: 42px;
    font-weight: 100;
    color: #83BFC8;
    position: absolute;
    top: 45px;
    left: 53px;
}

round-progress{
    width: 130px!important;
    height: 130px!important;
    position: relative;
    margin: 0px 20px;
}

.book fa-icon::ng-deep svg * {
    fill: url(#lgrad);
  }

ion-list{
    ion-item{
        border-bottom: 1px solid #EDEDED;
        height: 50px;
        --min-height:50px;
        min-height: 50px;
        ion-label{
            margin:0px;
        }
    }
    ion-item:first-child{
        border-top: 1px solid #EDEDED;
    }
}

@media (min-width: 768px) {
    round-progress{
        margin:auto;
    }

    .number{
        left: 40%;
    }
}