.intro{
    h3{
        font-size: 14px;
        font-family: 'SF Pro Display';
        font-weight: bold;
        color: #666666;
    }
    p{
        font-size: 14px;
        font-family: 'SF Pro Display';
        color:#666666;
    }
}

ion-footer{
    bottom: 0px;
    position: absolute;
}

ion-button{
    height: 40px;
    --background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);
    --border-radius: 20px;
    border-radius: 20px;
    font-size: 18px;
    --box-shadow: none;
    font-family: "SF Pro Display";
    text-transform: capitalize;
    display: block;
    margin: auto;
    width: 140px;
}

.checktermino{
    ion-label{
        font-size: 14px;
        font-family: 'SF Pro Display';
        color:#666666;        
    }
}

ion-checkbox{
    margin-right: 18px;
}

.texto_politica{
    border: 1px solid #E7E7E7;
    width: 250px;
    margin: auto;
    height: 290px;
    border-radius: 0px!important;
}

.textos{
    height: 280px;
    overflow: scroll;
    padding: 10px 0px;

    ion-item{
        ion-label:first-child{
            margin-top: 0px;
        }
        p{
            font-family: 'SF Pro Display';
            font-size: 12px;
            color: #666666;
            margin-bottom: 7px;
        }
        h6{
            font-family: "SF Pro Display";
            font-size: 12px;
            color: #666666;
            font-weight: bold;
            margin-bottom: 12px;
        }
        h5{
            font-family: "SF Pro Display";
            font-size: 12px;
            color: #666666;
            font-style: italic;
            margin-bottom: 12px;
            margin-top: 12px;
        }
        ul{
            margin: 0px;
            padding-left: 16px;
            margin-bottom: 7px;
        }
        li{
            font-family: 'SF Pro Display';
            font-size: 12px;
            color: #666666;
        }
    }
}