<div class="inner-content content-modal">
  <ion-item lines="none">
    <ion-label class="intro ion-text-wrap ion-padding-top">
      <h3>¡Último paso!</h3>
      <p>No olvides leer y aceptar nuestra política de datos.</p>
    </ion-label>
  </ion-item>
  <div class="texto_politica">
    <ion-row>
      <ion-col class="textos">
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>Política de datos de Babybook</h6>
            <p>
              En esta política se describe la información que tratamos a fin de proporcionar los servicios de Babybook, otros productos y funciones que Babybook ofrece. Encontrarás herramientas e información adicionales en la configuración de Babybook.
            </p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>¿Qué tipos de información recopilamos?</h6>
            <p>Debemos tratar tu información y la de cada bebé a fin de proporcionarte una buena experiencia en el uso de los productos de Babybook.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>Información y contenido que nos proporcionas. </h6>
            <p>Recopilamos el contenido, las comunicaciones y otros datos que proporcionas cuando usas nuestros productos, por ejemplo, cuando te registras para crear una cuenta, creas o compartes contenido y envías mensajes a otras personas o te comunicas con ellas.</p>
            <p>Esta información puede corresponder a datos incluidos en el contenido que proporcionas (por ejemplo, los metadatos) o relacionados con este, como el lugar donde se hizo una foto o la fecha de creación de un archivo. También puede incluir el contenido que ves a través de las funciones que ponemos a tu disposición, como la cámara, de modo que podamos realizar acciones como sugerirte máscaras y filtros que quizá te interesen, así como darte consejos sobre cómo usar los formatos de cámara. </p>
            <p>Nuestros sistemas realizan automáticamente el tratamiento del contenido y las comunicaciones que tú y otras personas proporcionan para analizar el contexto y lo que incluyen en relación con los propósitos que se describen a continuación.</p>
            <p>Datos de categorías especiales: Puedes optar por proporcionar información en los campos de tu perfil de Babybook o los acontecimientos importantes de cada bebé en la primera etapa de su vida, los lazos afectivos y familiares qué hay entre los individuos, indicar cuáles son los intereses publicitarios de cada perfil. </p>
            <p>Esta y otra información (como la identidad del usuario, fecha de origen del perfil) puede estar sujeta a protección especial en virtud de las leyes del país donde se creó el perfil y/o donde se utiliza. </p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>Redes y conexiones.</h6>
            <p>Recopilamos información sobre las personas, los bebés, las páginas, las cuentas, los hashtags y los grupos familiares y/o afectivos a los que estás conectado y cómo interactúas con ellos en nuestra plataforma, por ejemplo, las personas con las que más te comunicas o los grupos de los que formas parte. </p>
            <p>También recopilamos información de contacto si eliges subirla, sincronizarla o importarla desde un dispositivo (como una agenda de direcciones, correos electrónicos, un registro de llamadas o un historial de SMS). Usamos estos datos para propósitos como ayudarte a ti y a otros a encontrar personas que quizás conoces, así como para las finalidades que se indican a continuación.</p>
            <p><i>Tu uso.</i> Recopilamos información sobre cómo usas nuestra plataforma y productos, como los tipos de contenido que ves o con los que interactúas, las funciones que utilizas, las acciones que llevas a cabo, las personas o cuentas con las que interactúas y la hora, la frecuencia y la duración de tus actividades. </p>
            <p>Por ejemplo, registramos cuándo estás usando y cuándo has usado nuestros productos por última vez, y qué publicaciones, vídeos y otro tipo de contenido ves en nuestros productos. </p>
            <p>También recopilamos información sobre cómo usas funciones como nuestra cámara. </p>
            <p>La actividad de otros usuarios y la información que proporcionan sobre ti. También recibimos y analizamos contenido, comunicaciones e información que nos proporcionan otras personas al usar nuestros productos. </p>
            <p>Estos datos pueden incluir información sobre ti, como en caso de que otras personas compartan o comenten una foto tuya, te envíen un mensaje o suban, sincronicen o importen tu información de contacto.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>Información sobre el dispositivo</h6>
            <p>Como se describe a continuación, recopilamos información de tu Smartphone o dispositivo inteligente  conectado a la web y que se integran con nuestros productos, y combinamos esta información en los diferentes dispositivos que empleas. </p>
            <p>Por ejemplo, utilizamos la información que recopilamos sobre el uso que haces de nuestros productos en el teléfono para mejorar la personalización del contenido (incluidos los anuncios) o las funciones que ves cuando usas nuestros productos en otro dispositivo, como un portátil o una tableta, o bien con el fin de detectar si has realizado alguna acción en respuesta a un anuncio que te hemos mostrado en el teléfono u otro dispositivo.</p>
            <p>Entre los datos que obtenemos de los dispositivos se incluyen los siguientes:</p>
            <p><i>Características del dispositivo: </i>información como el sistema operativo, la versión de hardware y software, el nivel de carga de la batería, la potencia de la señal, el espacio de almacenamiento disponible, el tipo de navegador, los tipos y nombres de aplicaciones o archivos, y los plugins.</p>
            <p><i>Operaciones del dispositivo:</i> información sobre las operaciones y los comportamientos realizados en el dispositivo, como poner una ventana en primer o segundo plano, o los movimientos del ratón (lo que permite distinguir a los humanos de los bots).</p>
            <p><i>Identificadores:</i> identificadores únicos, identificadores de dispositivos y de otro tipo (por ejemplo, de juegos, aplicaciones o cuentas que usas).</p>
            <p><i>Señales del dispositivo:</i> señales de Bluetooth e información sobre balizas, torres de telefonía móvil y puntos de acceso a redes Wi-Fi cercanos.</p>
            <p><i>Datos de la configuración del dispositivo:</i> información que nos permites recibir al activar la configuración correspondiente en el dispositivo, como el acceso a la ubicación de GPS, la cámara y las fotos.</p>
            <p><i>Red y conexiones:</i> información como el nombre del operador de telefonía móvil o proveedor de internet, el idioma, la zona horaria, el número de teléfono móvil, la dirección IP, la velocidad de la conexión y, en algunos casos, información sobre otros dispositivos que se encuentran cerca o están en tu red para ayudarnos, por ejemplo, a transmitir un vídeo desde el teléfono al televisor.</p>
            <p><i>Datos de cookies:</i> datos provenientes de las cookies almacenadas en el dispositivo, incluida la configuración y los identificadores de las cookies.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>Información en poder de los Partners</h6>
            <p>Los anunciantes, desarrolladores de aplicaciones y editores pueden enviarnos información a través de las herramientas para empresas de Babybook que emplean, incluidos nuestros plugins sociales (como el botón “Me gusta”), el inicio de sesión con Babybook, nuestros SDK y API o el píxel de Babybook . Estos partners nos proporcionan información sobre las actividades que realizas fuera de la plataforma, incluidos datos sobre el dispositivo que utilizas, los sitios web que visitas, las compras que realizas, los anuncios que ves y la manera en que usas sus servicios, tanto si tienes una cuenta de Babybook o has iniciado sesión en ella, como en caso contrario. </p>
            <p>Por ejemplo, una empresa podría informarnos sobre una compra que hayas realizado en su tienda. Asimismo, recibimos información sobre las acciones y compras que realizas dentro y fuera de internet por parte de proveedores de datos externos que están autorizados para cedernos tu información. Los Partners reciben tu información cuando visitas o usas sus servicios, o a través de partners externos con los que trabajan. Para que nos puedan facilitar cualquier tipo de información, exigimos que todos los partners cuenten con los derechos legítimos para recopilar, usar y compartir tus datos. </p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>¿Cómo empleamos esta información?</h6>
            <p>Usamos la información de la que disponemos (de acuerdo con las decisiones que tomes) según lo descrito a continuación para proporcionar los Productos de Babybook y los servicios relacionados descritos en las Condiciones de Babybook, así como para asegurar su funcionamiento. Utilizamos estos datos para los siguientes aspectos:</p>
            <h5>Proporcionar, personalizar y mejorar nuestros productos.</h5>
            <p>Utilizamos la información de la que disponemos para ofrecer nuestros productos, así como para personalizar las funciones y el contenido (incluidos los anuncios, la sección de noticias, las noticias de Babybook), y proporcionar sugerencias (como grupos o anuncios que te pueden interesar o temas que quizás quieras seguir) tanto dentro como fuera de nuestros productos. Con el objetivo de crear productos personalizados que sean únicos y relevantes para ti, usamos tus conexiones, preferencias, intereses y actividades en función de los datos que recopilamos y que tú y otras personas nos proporcionan (incluidos aquellos datos de categorías especiales que decidas facilitarnos), así como la forma en la que usas nuestros Productos e interactúas con ellos y las personas, los lugares o las cosas con los que te conectas y en los que muestras interés, tanto dentro como fuera de nuestros Productos. </p>
            <h5>Información entre dispositivos y Productos de Babybook</h5>
            <p>Vinculamos la información sobre tus actividades en diferentes dispositivos y Productos de Babybook para proporcionarte una experiencia más personalizada y coherente en todos los Productos, independientemente del dispositivo en que los uses. Por ejemplo, podemos sugerir que te unas a un grupo familiar y/o afectivo en Babybook que incluye a personas que sigues en Babybook o con las que te comunicas por medio de Mensajes internos. También podemos optimizar tu experiencia, por ejemplo, completando automáticamente la información de registro (como el número de teléfono) que hayas incluido en un Producto de Babybook cuando te registres para abrir una cuenta en otro.</p>
            <p>Información relacionada con la ubicación: usamos la información relacionada con la ubicación, como tu ubicación actual, el lugar donde vives y los lugares que te gusta visitar, así como las empresas y las personas que se encuentran cerca de ti, para proporcionar, personalizar y mejorar nuestros Productos, incluidos los anuncios, a fin de que resulten más relevantes para ti y otras personas. Este tipo de información puede basarse en datos como la ubicación precisa del dispositivo (si nos has permitido recopilar esta información), direcciones IP e información de uso de los Productos de Babybook (como visitas y eventos a los que asistes).</p>
            <h5>Investigación y desarrollo de productos</h5>
            <p>Usamos la información que tenemos para desarrollar, probar y mejorar nuestros Productos (incluso a través de encuestas e investigaciones), así como para probar y solucionar problemas de funciones y productos nuevos.</p>
            <h5>Reconocimiento facial</h5>
            <p>Si se activa esta función, la tecnología de reconocimiento facial permite reconocerte en fotos, vídeos y experiencias de la cámara. Los patrones de reconocimiento facial que creamos pueden constituir datos de categorías especiales, en virtud de la legislación de tu país. Puedes obtener más información sobre cómo usamos esta tecnología o controlar cómo empleamos esta funcionalidad en la configuración de Babybook. De incorporar esta tecnología a tu experiencia de Babybook, te informaremos con antelación para que puedas decidir si quieres que la usemos en tu caso.</p>
            <h5>Anuncios y otro contenido patrocinado</h5>
            <p>A partir de la información que tenemos sobre ti, incluidos datos sobre tus intereses, acciones y conexiones, seleccionamos y personalizamos anuncios, ofertas y otro contenido patrocinado que te mostramos. </p>
            <h5>Proporcionar mediciones, análisis y otros servicios para empresas.</h5>
            <p>Usamos la información que tenemos (incluida la actividad que realizas fuera de nuestros productos, como los sitios web que visitas y los anuncios que ves) con objeto de ayudar a los anunciantes y otros Partners a medir la eficacia y la distribución de sus anuncios y servicios, así como para ayudarles a conocer qué tipos de personas usan sus servicios y cómo interactúan con sus sitios web, aplica</p>
            <h5>Fomentar la seguridad, la integridad y la protección de cada menor de edad expuesto en Babybook.</h5>
            <p>Utilizamos la información de la que disponemos para verificar cuentas y actividades, combatir conductas perjudiciales, detectar y prevenir spam y otras experiencias negativas, conservar la integridad de nuestros productos y fomentar la seguridad tanto dentro como fuera de los productos de Babybook. Por ejemplo, empleamos estos datos para investigar actividades sospechosas o infracciones de nuestras condiciones y políticas, o para detectar si una persona necesita ayuda. </p>
            <h5>Comunicarnos contigo.</h5>
            <p>Usamos la información a nuestra disposición para enviarte mensajes de marketing, darte a conocer nuestros productos e informarte acerca de nuestras políticas y condiciones. También la utilizamos para responderte cuando te pones en contacto con nosotros.</p>
            <h5>Realizar investigaciones e innovar en beneficio del bienestar social.</h5>
            <p>Utilizamos la información de la que disponemos (incluida la de los partners de investigación con los que trabajamos) para llevar a cabo y avalar investigaciones e innovaciones relacionadas con el bienestar social general, los avances en el campo de la tecnología, y el interés, la salud y el bienestar públicos. Por ejemplo, analizamos la información a nuestra disposición sobre los patrones migratorios durante una situación de emergencia para colaborar con los esfuerzos de ayuda humanitaria. </p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>¿Cómo se comparte esta información?</h6>
            <p>Tu información se comparte con otros de las siguientes formas:</p>
            <ul>
              <li>En Productos de Babybook</li>
              <li>Personas y cuentas con las Políticas de datos de Babybook.</li>
            </ul>
            <p>En esta política se describe la información que tratamos a fin de proporcionar los servicios de Babybook así como de otros productos y funciones que Babybook ofrece.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>¿Cómo se comparte esta información?</h6>
            <p>Tu información se comparte con otros de las siguientes formas:</p>
            <ul>
              <li>En Productos de Babybook</li>
              <li>Personas y cuentas con las Políticas de datos de Babybook.</li>
              <li>Cuando te comunicas y compartes información usando nuestros Productos, eliges el público que puede ver lo que compartes. Por ejemplo, cuando publicas algo en Babybook, seleccionas el público al que va dirigida la publicación, que puede ser un grupo, todos tus amigos, cualquier persona o una lista personalizada de gente. </li>
            </ul>
            <p>De un modo similar, si te comunicas con personas o empresas estas pueden ver el contenido que envías. </p>
            <p>Los miembros de tu red también pueden ver las acciones que realizas en nuestros productos, como la interacción que mantienes con los anuncios y el contenido patrocinado. </p>
            <p>Las informaciones que son de carácter publico dentro de la aplicación es información se limitará a un preview de búsqueda con el motor de búsqueda Babybook, el cual mostrará la foto de perfil que te identifica y proporcionaste, tu nombre de usuario y el botón de solicitar seguir.</p>
            <p>Entre estos datos se incluyen tu nombre de usuario de Babybook, la información que compartes de forma privada únicamente con tu circulo.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>Contenido que otros comparten y vuelven a compartir acerca de ti</h6>
            <p>Te recomendamos que selecciones con atención con quién quieres compartir contenido, ya que las personas que ven tu actividad en nuestros productos pueden decidir compartirla con otras tanto dentro como fuera de ellos, incluidas personas y empresas que no pertenecen al público que hayas elegido. Por ejemplo, si compartes una publicación o envías un mensaje a un amigo o una cuenta concreta, el destinatario puede hacer una captura de pantalla de dicho contenido, o bien descargarlo o volverlo a compartir con otras personas dentro o fuera de nuestros productos, en persona o en experiencias de realidad virtual.</p>
            <p>Asimismo, cuando comentas la publicación de una persona o reaccionas a su contenido, cualquiera que pueda ver dicho contenido verá también tu comentario o reacción. Ten en cuenta, además, que esta persona puede cambiar el público más adelante.</p>
            <p>Las personas también pueden usar nuestros productos para crear y compartir contenido sobre ti con el público que elijan. Por ejemplo, pueden mencionarte o etiquetarte en una ubicación determinada en una publicación, o bien compartir información acerca de ti en sus publicaciones o mensajes. Si te incomoda el contenido que otras personas han publicado sobre ti en nuestros productos, puedes obtener información sobre cómo denunciarlo.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>Información sobre tu estado “Activo” o tu presencia en nuestros productos</h6>
            <p>Existen señales que indican a las personas que forman parte de tus redes si estás activo en nuestra plataforma, o cuándo fue la última vez que usaste nuestros productos.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>Nuevo propietario</h6>
            <p>Si cambian la propiedad o el control de la totalidad o de parte de nuestros Productos o de sus activos, podemos transferir tu información al nuevo propietario.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>Con partners externos</h6>
            <p>Colaboramos con partners que nos ayudan a proporcionar y mejorar nuestros productos, o que utilizan las herramientas para empresas de Babybook  con el propósito de hacer crecer su negocio. </p>
            <p>Gracias a ellos podemos gestionar nuestras empresas y proporcionar servicios gratuitos a personas de todo el mundo. No vendemos tus datos a nadie ni lo haremos en el futuro. Del mismo modo, imponemos estrictas restricciones sobre la manera en que nuestros partners pueden utilizar y divulgar los datos que proporcionamos. </p>
            <p>Estos son los tipos de partners externos con los que compartimos información:</p>
            <h5>Partners que usan nuestros servicios de análisis</h5>
            <p>Proporcionamos conjuntos de estadísticas e información que las personas y las empresas utilizan para conocer cómo interactúan los demás con sus publicaciones, anuncios, páginas, vídeos y otro contenido dentro y fuera de los productos de Babybook. Por ejemplo, los administradores de páginas y perfiles de empresa de Babybook reciben información sobre el número de personas o cuentas que han visto o comentado sus publicaciones, o han reaccionado a ellas, así como datos demográficos globales y de otro tipo con los que pueden conocer las interacciones con la página o la cuenta.</p>
            <h5>Anunciantes</h5>
            <p>Ofrecemos a los anunciantes informes para indicarles qué tipos de personas ven sus anuncios y qué resultados generan. No obstante, a menos que nos des permiso para hacerlo, no compartimos información que te identifique personalmente, como tu nombre o dirección de correo electrónico, datos que se puedan emplear para ponerse en contacto contigo o que puedan revelar tu identidad. Proporcionamos a los anunciantes datos demográficos generales e información sobre intereses (por ejemplo, que una mujer de entre 25 y 34 años que vive en Madrid y a la que le interesa la ingeniería de software ha visto su anuncio). Estos datos tienen como fin ayudarlos a conocer mejor su público. También confirmamos qué anuncios de Babybook te han llevado a efectuar una compra o realizar una acción con un anunciante.</p>
            <h5>Partners de medición</h5>
            <p>Compartimos información sobre ti con empresas que la procesan en conjunto para ofrecer análisis e informes de medición a nuestros partners.</p>
            <h5>Proveedores de servicios</h5>
            <p>Proporcionamos información y contenido a proveedores de servicios que nos ayudan a que podamos continuar con nuestro negocio. Estos proveedores se dedican a ofrecer servicios de infraestructura técnica, analizar el uso de nuestros productos, proporcionar servicios de asistencia al cliente, facilitar pagos o realizar encuestas.</p>
            <h5>Investigadores y académicos</h5>
            <p>También facilitamos información y contenido a partners investigadores y académicos a fin de que realicen investigaciones que permitan profundizar en los conocimientos y la innovación necesarios para contribuir a nuestro negocio o propósito, así como para promover el descubrimiento y la innovación en temas relacionados con el bienestar social general, los avances en el campo de la tecnología y el interés, la salud y el bienestar públicos.</p>
            <h5>Cumplimiento de requerimientos legales o solicitudes de las autoridades policiales</h5>
            <p>Compartimos información con las autoridades policiales o en respuesta a requerimientos legales en las circunstancias en que la integridad familiar o del menor está en peligro.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>¿Cómo puedo administrar o eliminar información sobre mí?</h6>
            <p>Te proporcionamos la posibilidad de acceder a tus datos, rectificarlos y suprimirlos, así como de obtener su portabilidad. </p>
            <p>Almacenamos los datos hasta que dejan de ser necesarios para proporcionarte nuestros servicios y productos de Babybook, o hasta que se elimina tu cuenta, lo que ocurra primero. La necesidad de los datos se determina en función de cada caso y obedece a factores como la naturaleza de los datos, el motivo de la recopilación y el tratamiento, y las necesidades de retención operativas o legales aplicables. Por ejemplo, si realizas una búsqueda en Babybook, puedes acceder a esa consulta y eliminarla del historial de búsqueda en cualquier momento, pero el registro de dicha búsqueda se elimina transcurridos seis meses. Si envías una copia de tu documento de identidad para que se verifique una cuenta, la eliminaremos 30 días después de recibirla.</p>
            <p>Cuando eliminas tu cuenta, eliminamos el contenido que has publicado, como tus fotos y actualizaciones de estado, por lo que no podrás recuperar esa información. En cambio, la información sobre ti que han compartido otras personas no se eliminará, ya que no forma parte de tu cuenta. Si no quieres eliminar la cuenta, pero quieres dejar de usar los productos durante un tiempo, puedes desactivarla. Puedes eliminar tu cuenta cuando quieras desde la configuración de Babybook.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>¿Cómo respondemos a requerimientos legales o evitamos que se produzcan daños?</h6>
            <p>Accedemos a tu información, la preservamos y la compartimos con organismos reguladores, autoridades policiales u otras partes en los supuestos siguientes:</p>
            <h5>En respuesta a un requerimiento legal (una orden de registro, una orden judicial o una citación, por ejemplo) si creemos de buena fe que la legislación nos obliga a hacerlo. </h5>
            <p>Esto puede incluir la respuesta a requerimientos legales de jurisdicciones ajenas a los al país donde descargaste la aplicación o inclusive donde la usas, si creemos de buena fe que la legislación de esa jurisdicción exige dicha respuesta, afecta a los usuarios de su jurisdicción y resulta coherente con estándares reconocidos internacionalmente.</p>
            <p>Si creemos de buena fe que es necesario para detectar, impedir y abordar casos de fraude, uso no autorizado de los productos, infracciones de las condiciones o las políticas aplicables, así como otras actividades dañinas o ilegales; para protegernos (incluidos nuestros derechos, nuestra propiedad o nuestros productos), así como para protegerte a ti o a otras personas; también como parte de investigaciones o consultas de tipo regulatorio; y para evitar la muerte o daños físicos inminentes. Por ejemplo, en los casos pertinentes, proporcionamos información a partners externos y la recibimos de ellos sobre la fiabilidad de tu cuenta para prevenir fraudes, usos abusivos y otras actividades dañinas que se produzcan en nuestros productos o fuera de ellos.</p>
            <p>También podemos conservar información sobre las cuentas que se han desactivado por incumplir nuestras condiciones durante un mínimo de un año con el objetivo de evitar que se repitan conductas abusivas o infracciones de nuestras condiciones.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>¿Cómo operamos y transferimos datos como parte de nuestros servicios globales?</h6>
            <p>Compartimos información de forma global, tanto internamente con Babybook Arriarán S.A como externamente con nuestros partners y con las personas con las que te conectas y compartes contenido en todo el mundo, de conformidad con esta política. Por ejemplo, tu información puede transferirse o transmitirse a los Estados Unidos o a otros países distintos de tu lugar de residencia, así como almacenarse o procesarse en estas ubicaciones, en relación con las finalidades descritas en esta política. Estas transferencias de datos son necesarias para proporcionar los servicios descritos en las Condiciones de Babybook así como para funcionar de forma global y proporcionarte nuestros Productos. Utilizamos cláusulas contractuales tipo, seguimos las decisiones de adecuación de la Comisión Europea sobre determinados países, según sea aplicable, y obtenemos tu consentimiento para transferir dichos datos a los Estados Unidos y a otros países.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <h6>¿Cómo te notificaremos los cambios que se produzcan en esta política?</h6>
            <p>Te enviaremos una notificación antes de realizar cambios en esta política para que puedas revisar las modificaciones y decidir si quieres seguir usando nuestros productos.</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            <p>Babybook Arriarán S.A</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <ion-footer mode="md" class="ion-no-border" no-shadow>
    <ion-row class="ion-padding-bottom">
      <ion-item class="checktermino" lines="none">
        <ion-label>He leído y acepto la política de datos.</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="terminos"></ion-checkbox>
      </ion-item>
      <ion-col>
        <ion-button (click)="dismiss(terminos)" [disabled]="!terminos">Continuar</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</div>

