ion-text{
    margin-right: 20px;
    font-family: 'SF Pro Display';
    font-size: 14px;
    color: #7D7D7D;
}

ion-back-button{
    color: #ffffff;
    opacity: 0.4;
}


ion-footer{
    --background: rgb(37,37,37,0.9);
    background: rgb(37,37,37,0.9);
    height: 170px;
    ion-label{
        p{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #FFFFFF;
            opacity: 0.4;
        }
        .select{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #00C4FF;
            opacity: 1;
        }
    }

    div{
        border-radius: 50px;
        width: 74px;
        height: 74px;
        border: 4px solid white;
        padding: 0px;
        overflow: hidden;
        background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);;
    }

    ion-button{
        --background: none;
        border: 17px solid #252525;
        --border-radius: 50px;
        border-radius: 50px;
        font-size: 14px;
        --box-shadow: none;
        font-family: 'SF Pro Display';
        text-transform: initial;
        height: 66px;
        margin: 0px;
    }

    .grid-publicar{
        display: grid;
        grid-template-columns: 40% 20% 20% 20%;
    }
}


ion-toolbar{
    --background: transparent;
    background: transparent;
}

ion-content{
    --background: transparent;
    background: transparent;
}

fa-icon{
    color: #ffffff;
    font-size: 30px;
}

.bolt-col{
    padding: 20px 27px;
}

.sync-col{
    padding: 20px 10px;
}

ion-icon{
    width: 40px;
    height: 40px;
}