<ion-header class="ion-no-border">
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="close" defaultHref="#" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-text slot="end">{{ nombres }}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer mode="md" *ngIf="isKeyboardHide">
  <ion-row class="grid-publicar ion-padding-vertical">
    <ion-col></ion-col>
    <ion-col>
      <div>
        <ion-button expand="full" (click)="gopublicar()" mode="md">
          
        </ion-button>
      </div>
    </ion-col>
    <ion-col class="bolt-col">
      
    </ion-col>
    <ion-col class="sync-col" (click)="changecamera()">
      <ion-icon *ngIf="!alternar" src="/assets/icon/ico-camara-alternar.svg"></ion-icon>   
      <ion-icon *ngIf="alternar" src="/assets/icon/ico-camara-alternar-tap.svg"></ion-icon>   
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size=4 class="ion-padding" (click)="gotexto()">
      <ion-label class="ion-text-center">
        <p>Texto</p>
      </ion-label>
    </ion-col>
    <ion-col size=4 class="ion-padding" (click)="gofoto()">
      <ion-label class="ion-text-center">
        <p>Foto</p>
      </ion-label>
    </ion-col>
    <ion-col size=4 class="ion-padding">
      <ion-label class="ion-text-center">
        <p class="select">Video</p>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-footer>