<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes-selected.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col>
      <ion-item lines="none" mode="md" class="ion-no-padding title">
        <ion-icon mode="ios" slot="start" name="chevron-back" [routerLink]="['/tabs/babybook']"></ion-icon> 
        <h4>Condiciones de uso</h4>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="textos">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h4>Fecha de entrada en vigor: 14 de abril de 2020</h4>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Bienvenido a Babybook</h6>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <p>Nuestras Condiciones de uso se encuentran actualizadas a la fecha de entrada en vigor.</p>
          <p>Nuestro objetivo principal es que padres, madres, parientes, familiares, amigos y conocidos de confianza participen en los recuerdos de vida de cada ser humano en su etapa inicial. Nuestros servicios han sido diseñados para promover el uso familiar y con el fin de generar recuerdos multimedia imborrables. Por lo tanto, cada usuario podrá incorporar contenido y agregar una red de contactos en torno a sus perfiles.</p>
          <p>Las actuales Condiciones rigen el uso de Babybook e incluyen información sobre el servicio de Babybook, que se detalla a continuación. Cuando creas una cuenta de Babybook o usas la plataforma, aceptas estas condiciones.</p>
          <p>El servicio de Babybook es un producto que Babybook Arriarán S.A te proporciona. Por lo tanto, estas Condiciones de uso constituyen un acuerdo contractual entre tú y Babybook Arriarán S.A.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>El servicio de Babybook</h6>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <p>Aceptamos proporcionarte el servicio de Babybook, que incluye todos los productos, las funciones, las aplicaciones, los servicios, las tecnologías y el software que ofrecemos para cumplir la misión de Babybook: Generar recuerdos imborrables en tus hijos. El servicio se compone de los siguientes aspectos (el "servicio"):</p>
          <ul>
            <li><b>Ofrecer oportunidades personalizadas para hacer recuerdos tangibles.</b></li>
            <p>La memoria es frágil, por lo que Babybook te ofrece la oportunidad de hacer cada recuerdo imborrable, fortaleciendo lazos paternos y maternos junto con lazos familiares. Por lo tanto, hemos creado una aplicación que te permite: Publicar, revisar, editar contenido de tus hijos o hijas, agregar comunidad: Familiar, amigos y conocidos de confianza, revisar perfiles de personajes públicos y comentar interactuando en el contenido. Deseamos que tus recuerdos sean tangibles y que tu experiencia de uso sea la mejor, entregándote una política de contenidos publicitario y anuncios adecuados a tu etapa paterna o materna o según los intereses de tu edad y comunidad.</p>
            <li><b>Fomentar un ambiente positivo, inclusivo y seguro.</b></li>
            <p>Desarrollamos y usamos herramientas, y ofrecemos recursos a los miembros de nuestra comunidad que contribuyen a que estos vivan experiencias positivas e inclusivas, incluso cuando creemos que pueden necesitar ayuda. También contamos con equipos y sistemas cuyo trabajo es combatir el abuso y las violaciones de nuestras Condiciones y políticas, así como combatir comportamientos perjudiciales, engañosos y que pongan en riesgo la integridad de menores de edad o grupos familiares. Usamos toda la información que tenemos, incluida la tuya, para proteger nuestra plataforma. Asimismo, es posible que compartamos información sobre usos indebidos o contenido perjudicial con las autoridades gubernamentales o legales del país en curso donde aceptas esta política de uso o donde utilizas el servicio de Babybook.</p>
            <li><b>Desarrollar y usar tecnologías que nos ayuden a respaldar continuamente a nuestra comunidad en constante crecimiento.</b></li>
            <p>Organizar y analizar información de nuestra creciente comunidad es fundamental para nuestro servicio. Gran parte de nuestro servicio consiste en crear y usar tecnologías de vanguardia que nos ayuden a personalizar, proteger y mejorar nuestro servicio a gran escala para una amplia comunidad internacional. Tecnologías como la inteligencia artificial y el aprendizaje automático nos dan el poder de aplicar procesos complejos en todo nuestro servicio. Las tecnologías automatizadas también nos permiten garantizar la funcionalidad y la integridad de nuestro servicio.</p>
            <li><b>Ofrecer experiencias positivas en servicios Babybook.</b></li>
            <p>Babybook es una empresa que utiliza tecnologías, sistemas, estadísticas e información, incluida la información que tenemos sobre ti (obtén más información en la <ion-text>Política de Datos</ion-text>), para proporcionar servicios que estén en constante mejora y más seguros. </p>
            <li><b>Garantizar una infraestructura internacional estable para proporcionar nuestro Servicio.</b></li>
            <p>Para brindar nuestro Servicio de forma internacional, debemos almacenar y transferir datos entre nuestros sistemas de todo el mundo, incluidos aquellos que no están en tu país de residencia. Esta infraestructura puede ser propiedad de Babybook Arriarán S.A  o sus filiales, o estar operada por estas.</p>
            <li><b>Conectarte con marcas, productos y servicios de todas las formas que te resulten relevantes.</b></li>
            <p>Usamos datos de Babybook, así como de socios externos, para mostrarte anuncios, ofertas y otros contenidos patrocinado que creemos te puede interesar. Asimismo, intentamos que dichos contenidos te resulten relevantes como el resto de tus experiencias en Babybook.</p>
            <li><b>Realizar investigaciones e innovar.</b></li>
            <p>Usamos la información que tenemos para estudiar nuestro servicio y colaborar con otros en investigaciones que nos permitan mejorarlo y contribuir con el bienestar de nuestra plataforma y comunidad.</p>
          </ul>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>La Política de datos</h6>
          <p>Para brindar nuestro servicio, debemos recopilar y usar tu información. En la <ion-text>Política de datos</ion-text>, se explica cómo recopilamos, usamos y compartimos información. Debes aceptar la Política de datos para usar Babybook.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Tus compromisos</h6>
          <p>Nos comprometemos a brindarte el servicio, pero requerimos que asumas los compromisos que se indican a continuación.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Quién puede usar Babybook.</h6>
          <p>Queremos que nuestro servicio sea lo más inclusivo y abierto posible, pero también queremos que sea seguro y cumpla con la ley. Para ello, es necesario que te comprometas a cumplir algunas restricciones a fin de formar parte de la comunidad de Babybook.</p>
          <ul>
            <li>Debes tener al menos 15 años o la edad legal mínima en tu país para usar Babybook.</li>
            <li>No debes tener prohibido el uso de ningún aspecto de nuestro Servicio en virtud de las leyes aplicables o la utilización de servicios relacionados con pagos si estás en una lista de partes denegadas aplicable.</li>
            <li>No debemos haber inhabilitado previamente tu cuenta debido a una infracción de la ley o a cualquiera de nuestras políticas.</li>
            <li>No debes ser un delincuente condenado por: Ofensas sexuales, delitos sexuales, violencia intrafamiliar, violencia a menores, vejámenes a menores, explotación infantil o abuso sexual infantil.</li>
            <li>No debes contar con antecedentes por: Ofensas sexuales, delitos sexuales, violencia intrafamiliar, violencia a menores, vejámenes a menores, explotación infantil o abuso sexual infantil.</li>
          </ul>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>No puedes usar Babybook de esta forma. </h6>
          <ul>
            <li><b>No puedes hacerte pasar por otra persona ni brindar información incorrecta.</b></li>
            <p>Es una obligación proporcionarnos información precisa y actualizada (incluida la información de registro). Asimismo, no puedes hacerte pasar por otra persona ni crear una cuenta en nombre de alguien más, a menos que cuentes con su permiso expreso.</p>
            <li><b>No puedes realizar actividades ilegales, engañosas o fraudulentas, ni actividades con fines ilegales o no autorizados, incluyendo la recopilación o almacenamiento de material infantil para usos perjudiciales.</b></li>
            <p></p>
            <li><b>No puedes infringir estas Condiciones o nuestras políticas (ni ayudar o alentar a otros para que lo hagan).</b></li>
            <p></p>
            <li><b>No puedes realizar actividades que interfieran con el servicio o impidan que se opere como está previsto.</b></li>
            <p></p>
            <li><b>No puedes intentar crear cuentas ni recopilar información o acceder a ella sin autorización.</b></li>
            <p>Esto incluye crear cuentas o recopilar información de un modo automatizado.</p>
            <li><b>No puedes intentar comprar, vender o transferir ninguna parte de tu cuenta (incluido el nombre de usuario), ni solicitar, recopilar o usar credenciales de inicio de sesión o insignias de otros usuarios.</b></li>
            <p></p>
            <li><b>No puedes publicar información privada o confidencial ni realizar actividades que infrinjan los derechos de otra persona adulta o de algún menor de edad, incluidos los derechos de propiedad intelectual.</b></li>
            <p></p>
            <li><b>No puedes utilizar un nombre o alias que pueda atentar contra: géneros, etnias, grupos educacionales, grupos o movimientos políticos o religiosos, menores de edad, grupos familiares, no puedes sobre todo utilizar el uso de una marca o propiedad intelectual constituida a nivel global o local.</b></li>          
          </ul>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Permisos que nos concedes.</h6>
          <ul>
            <li><b>No reclamamos la propiedad sobre tu contenido, pero nos concedes una licencia para usarlo.</b></li>
            <p>No reclamamos la propiedad del contenido que publicas en el servicio o por medio de él. En lugar de ello, cuando compartes, publicas o subes contenido que se encuentra protegido por derechos de propiedad intelectual (como fotos o videos) en nuestro servicio, o en relación con este, por el presente nos otorgas una licencia internacional, sublicenciable, transferible, libre de regalías y no exclusiva para alojar, usar, distribuir, modificar, administrar, copiar, mostrar o exhibir públicamente y traducir tu contenido, así como para crear trabajos derivados de él. Puedes eliminar el contenido o tu cuenta en cualquier momento para interrumpir esta licencia. </p>
            <li><b>Permiso para usar tu nombre de usuario, foto del perfil e información sobre tus relaciones y las acciones que realizas con cuentas, anuncios y contenido patrocinado.</b></li>
            <p>Nos concedes permiso para mostrar tu nombre de usuario, foto del perfil, información de tus sub-perfiles (hijos o hijas) e información sobre las acciones que realizas (como los likes) o tus relaciones (como los seguidores o seguidos) junto a cuentas, anuncios, ofertas y otro contenido patrocinado, o en relación con ellos, que sigues o con los que interactúas y que se muestran en Babybook, sin obligación de brindarte compensación alguna. Por ejemplo, podemos mostrar que te gustó una publicación patrocinada creada por una marca que nos pagó para que mostremos sus anuncios en Babybook. Tal como con las acciones en otro contenido y los seguidores de otras cuentas, solo las personas que tienen permiso podrán ver las acciones realizadas en el contenido patrocinado y los seguidores de cuentas patrocinadas. También respetaremos tu configuración de anuncios. </p>
            <li><b>Aceptas que podemos descargar e instalar actualizaciones del Servicio en tu dispositivo.</b></li>
            <p></p>
            <li><b>Aceptas que te notifiquemos para recordatorios de la plataforma, actividades de tus perfiles, contactos, seguidores, marcas o cualquier gestión interna de uso de tu cuenta mediante nuestro servicio.</b></li>
          </ul>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Derechos adicionales que nos reservamos</h6>
          <ul>
            <li>Si seleccionas un nombre de usuario o un identificador similar para tu cuenta, podemos cambiarlo si lo consideramos apropiado o necesario. Por ejemplo, si infringe los derechos de propiedad intelectual de otra persona o suplanta la identidad de otro usuario o en su defecto si genera algún tipo de provocación o insinuación de delitos familiares o contra menores de edad.</li>
            <p></p>
            <li>Si usas contenido protegido por derechos de propiedad intelectual que poseemos e incluimos en nuestro Servicio, tales como imágenes, diseños, videos o sonidos que ofrecemos y que tú agregas al contenido que creas o compartes, nos reservamos todos los derechos sobre dicho contenido.</li>
          </ul>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Eliminación de contenido e inhabilitación o cancelación de la cuenta</h6>
          <ul>
            <li>Podemos eliminar cualquier contenido o información que compartas en el servicio si consideramos que infringe estas Condiciones de uso o nuestras políticas (incluidas nuestras <ion-text>Normas comunitarias de Babybook</ion-text>), o si la ley lo exige o nos lo permite. Podemos negarnos a proporcionarte o dejar de proporcionarte la totalidad o una parte del servicio (incluido cancelar o inhabilitar tu cuenta) inmediatamente para proteger nuestra comunidad o plataforma, o bien si supones para nosotros un riesgo o una exposición legal, infringes estas Condiciones de uso o nuestras políticas (incluidas nuestras <ion-text>Normas comunitarias de Babybook</ion-text>), infringes reiteradamente los derechos de propiedad intelectual de otras personas, o la ley lo exige o nos lo permite. Si tomamos medidas para inhabilitar o cancelar tu cuenta, te notificaremos cuando corresponda. Si consideras que tu cuenta se canceló por error o quieres inhabilitarla o eliminarla de forma definitiva, consulta en <ion-text>contacto@babybook.cl</ion-text></li>
            <p></p>
            <li>El contenido que elimines puede seguir apareciendo durante un tiempo limitado en copias de seguridad y seguirá estando visible donde otras personas lo hayan compartido. Este párrafo junto con la sección denominada "Nuestro acuerdo y qué ocurre si no estamos de acuerdo con las disposiciones" que figura debajo seguirán en vigor una vez eliminada o cancelada tu cuenta.</li>
          </ul>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>No estas de acuerdo con nuestras condiciones?</h6>
          <p>Si alguna de estas condiciones entra en conflicto con este acuerdo, regirán dichas condiciones:</p>
          <ul>
            <li>Si no se puede ejecutar alguna parte de este acuerdo, el resto continuará en vigor.</li>
            <li>Cualquier modificación a nuestro acuerdo o exención de su cumplimiento deberá hacerse por escrito y estar firmada por nosotros. Si no cumplimos alguna parte de este acuerdo, ello no se considerará una exención a su cumplimiento.</li>
            <li>Nos reservamos todos los derechos que no te hayamos concedido de forma expresa.</li>
          </ul>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>A quién se conceden derechos en virtud de este acuerdo.</h6>
          <ul>
            <li>Este acuerdo no concede derechos a ningún tercero.</li>
            <li>No puedes transferir tus derechos u obligaciones en virtud de este acuerdo sin nuestro consentimiento.</li>
            <li>Nuestros derechos y obligaciones se pueden asignar a otras personas. Por ejemplo, esto puede ocurrir si cambia nuestra titularidad, tal como una fusión, adquisición o venta de activos, o si la ley lo exige.</li>
          </ul>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Quién asume la responsabilidad si ocurre algo.</h6>
          <ul>
            <li>Nuestro Servicio se proporciona "tal como está", y no podemos garantizar que será seguro o funcionará correctamente en todo momento. EN LA MEDIDA EN QUE LA LEY LO PERMITA, TAMBIÉN RENUNCIAMOS A TODA GARANTÍA, EXPRESA O IMPLÍCITA, INCLUIDAS LAS GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD, IDONEIDAD PARA UN FIN PARTICULAR, TÍTULO Y NO INFRACCIÓN.</li>
            <li>Tampoco controlamos lo que las personas u otros hacen o dicen, ni somos responsables por sus acciones, conductas (dentro o fuera de internet) o contenidos (ni por los tuyos), incluido contenido ilegal o cuestionable. Tampoco somos responsables por los servicios y las funciones que otras personas o empresas ofrecen, incluso si accedes a ellos mediante nuestro servicio.</li>
            <li>Nuestra responsabilidad por todo lo que ocurre en el servicio ("responsabilidad") es limitada en la medida en que la ley lo permite. Si hay un problema con nuestro servicio, no podemos saber cuáles podrían ser todas las posibles consecuencias. Aceptas que no seremos responsables por la pérdida de ganancias, ingresos, información o datos, ni por daños consecuentes, especiales, indirectos, ejemplares, punitivos o incidentales que surjan a raíz de estas Condiciones, o en relación con ellas, incluso si sabemos que hay posibilidades de que ocurran. Esto incluye cuando eliminamos tu contenido, información o cuenta.</li>
            <li>Todo el contenido que publiques es de tu exclusiva responsabilidad a conocimiento absoluto de que este puede ser visto por tu comunidad privada o publica, cabe destacar que Babybook otorga seguridad contra depredadores sexuales o delincuentes que comentan actos contra menores de edad, sin embargo es tu obligación cuidar el contenido que publicas y cuidar con quien lo publicas. No nos haremos responsables de situaciones que perjudiquen a tu grupo familiar o social o que afecten la seguridad de estos por publicaciones realizadas desde tu perfil. Otorgaremos todo el respaldo con las autoridades de cada país donde descargaste o usaste la plataforma o los servicios de Babybook.</li>
          </ul>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Cómo resolveremos las disputas.</h6>
          <p>Si eres consumidor, las leyes del país donde resides se aplicarán a cualquier reclamación, causa o disputa ("reclamación") que presentes contra nosotros y que surja como consecuencia de estas Condiciones, o en relación con ellas. Asimismo, puedes resolver la reclamación en cualquier tribunal competente del país que tenga jurisdicción. En todos los demás casos, aceptas que el reclamo se debe resolver de forma exclusiva en tribunales nacionales de la República Chile; aceptas someterte a la jurisdicción personal de cualquiera de estos tribunales con el propósito de litigar cualquier reclamo; y aceptas también que las leyes del estado de la República de Chile regirán estas Condiciones, así como cualquier reclamo, independientemente de las disposiciones sobre conflictos de leyes.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Material no solicitado.</h6>
          <p>Los comentarios o las sugerencias siempre son bienvenidos. No obstante, podemos usarlos sin restricción u obligación alguna de brindarte una compensación, y no tenemos la obligación de mantenerlos en confidencialidad.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Actualización de estas Condiciones</h6>
          <p>Es posible que modifiquemos nuestro servicio y las políticas, y que debamos actualizar estas Condiciones de modo que reflejen nuestros servicios y las políticas con precisión. A menos que la ley disponga lo contrario, te enviaremos una notificación (por ejemplo, mediante nuestro servicio) antes de modificar estas Condiciones, y te daremos la oportunidad de revisar los cambios antes de que entren en vigor. Si sigues usando el servicio, quedarás sujeto a las Condiciones actualizadas. Si no quieres aceptar estas ni otras Condiciones actualizadas, puedes eliminar tu cuenta <ion-text>aquí</ion-text>.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <p>Revisión: 14 de abril de 2020</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>
