  .title{
    font-family: 'SF Pro Display';
    font-size: 20px;
    color: #666666;
    font-weight: 100;
}

ion-segment{
    height: 34px;
}

ion-segment-button{
    font-family: 'SF Pro Display';
    font-size: 14px;
    color: #666666;
    text-transform: initial!important;
    border-bottom: 1px solid #EDEDED;
    min-height: 34px;
}

.segment-button-checked{
    font-family: 'SF Pro Display';
    font-size: 14px;
    color: #82BEC7;
    background: #FFF;
    border: 1px solid #EDEDED;
    border-bottom: 0px;
}

.col-circle{
    display: flex;
    margin-left: 0px;
    padding-left: 30px;
}

.number{
    font-family: 'SF Pro Display';
    font-size: 12px;
    font-weight: 100;
    color: #666666;
    margin: 8px 10px;
}

round-progress{
    width: 30px!important;
    height: 30px!important;
    position: relative;
}

.fotoperfil{
    width: 72px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

.pagelibro{
    width: 100%;
    max-height: 280px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    min-height: 280px;
}


/*Paginas*/
.page-text{
    font-family: 'SF Pro Display';
    font-size: 18px;
    font-weight: 200;
    color: #666666;
}

ion-slides{
    overflow: visible;
    ion-slide.swiper-slide-next{
        opacity: 0.5;
    }
}

.comentarios{
    ion-item{
        border-bottom: 1px solid #EDEDED;
        height: 50px;
        min-height: 50px;
        --min-height: 50px;
        ion-label{
            margin:0px;
            h3{
                font-family: 'SF Pro Display';
                font-size: 14px;
                color: #666666;
                font-weight: 600;
                margin:0px;
            }
            p{
                font-family: 'SF Pro Display';
                font-size: 14px;
                color: #666666;
                margin:0px;
            }
        }
    }
    ion-avatar{
        height: 36px;
        width: 36px;
        margin: 4px 16px 4px 8px;    
    }

    ion-item:first-child{
        border-top: 1px solid #EDEDED;
    }

    ion-button{
        height: auto;
        --box-shadow: none;
        margin-top: 10px;
        margin-left: 12px;
        font-family: 'SF Pro Display';
        font-size: 9px;
        text-transform: initial;
        color: #C5C5C5;
        ion-label{
            font-family: 'SF Pro Display';
            font-size: 9px;
            text-transform: initial;
            color: #C5C5C5;
            p{
                font-family: 'SF Pro Display';
                font-size: 9px;
                text-transform: initial;
                color: #C5C5C5;
            }
        }
        fa-icon{
            font-size: 18px;
            color: #C5C5C5;
        }
      }
}



/*Ficha*/

.hijo-avatar{
    width: 72px;
    height: 72px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}

.edit-perfil{
    font-family: 'SF Pro Display';
    font-size: 12px;
    color: #82BEC7;
    margin-top: 4px;
}

ion-list{
    ion-label{
        font-family: 'SF Pro Display';
        color: #666666;
    }
    ion-input{
        margin-top: 6px;
        border: 1px solid #EDEDED;
        padding: 0px 12px !important;
        border-radius: 2px;
        height: 35px;
    }
}

/*Diseño*/
.diseno-title{
    font-family: 'SF Pro Display';
    font-size: 18px;
    color: #666666;
    font-weight: 200;
}

.plantilla-layout{
    display: grid;
    grid-template-columns: 94px auto;
    grid-template-rows: 62px 62px;
    grid-column-gap: 15px;
    div{
        grid-row: 1/3;
        padding: 3px;
    }
    ion-label{
        grid-column: 2;
        grid-row: 1;
        font-family: 'SF Pro Display';
        font-size: 14px;
        color: #666666;
        align-self: end;
        margin: 5px;
    }
}

.plantillaborde{
    --background: linear-gradient(45deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 35%, rgba(87,223,194,1) 100%);
    background: linear-gradient(45deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 35%, rgba(87,223,194,1) 100%);
}

.plan-select{
    grid-column: 2!important;
    grid-row: 2!important;
    color: #82BEC7!important;
    align-self: initial!important;
}

ion-chip{
    grid-column: 2;
    grid-row: 2;
    width: 90px;
    height: 25px;
    --background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);
    background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);
    border: none;
    position: relative;
    padding: 2px;
    ion-label{
        width: 88px;
        background: #ffffff;
        font-family: "SF Pro Display";
        font-size: 12px!important;
        color: #666666;
        padding: 5px 0px;
        border-radius: 50px; 
        margin: 0px!important;
    }
}




.book fa-icon::ng-deep svg * {
    fill: url(#lgrad);
  }

  @media (min-width: 768px) {
    .hijo-avatar{
        margin: auto;
    }
}