<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book-selected.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal ion-padding-top" [routerLink]="['/tabs/editar']">
    <ion-col size=8>
      <ion-label class="title">
        Libro {{hijonombre}}
      </ion-label>
    </ion-col>
    <ion-col size=4 class="col-circle">
      <ion-text class="number">
        0%
      </ion-text>
      <round-progress [current]="0" [max]="100" [color]="'url(#colorgrad)'"
      [duration]="800" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
    </ion-col>
  </ion-row>

  <ion-segment [(ngModel)]="type" color="none" mode="md">
    <ion-segment-button value="page">
      <ion-label>Páginas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ficha">
      <ion-label>Ficha</ion-label>
    </ion-segment-button>
    <ion-segment-button value="diseno">
      <ion-label>Diseño</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
  <section *ngSwitchCase="'page'">
    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-col size=12>
        <ion-label class="page-text">
          Página {{page}}/{{libros.length}}
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-slides [options]="slideOpts" #slides (ionSlideDidChange)="slideChanged(slides)" mode="md">
          <ion-slide *ngFor="let libro of libros" mode="md">
            <img src={{libro.img}} class="pagelibro">
          </ion-slide>
          <ion-slide class="blank-page">
            <!--<img src={{libro.img}}>-->
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size=12>
        <ion-label class="page-text">
          Comentarios
        </ion-label>
      </ion-col>
    </ion-row>     
    <!--<ion-list lines="none" class="comentarios ion-no-padding" mode="md">
      <ion-item lines="none" mode="md" *ngFor="let comment of pagecomment">
        <ion-avatar slot="start">
          <ion-img *ngIf="comment.author_img == '' || comment.author_img == null" src="/assets/img/ico-user-72x72.svg"></ion-img>
          <ion-img *ngIf="comment.author_img != ''" src={{apiurl}}{{comment.author_img}} class="fotoperfil"></ion-img>
        </ion-avatar>
        <ion-label>
          <h3>{{comment.author_name}}</h3>
          <p>{{comment.text}}</p>
        </ion-label>
        <ion-button color="none" mode="md">
          <ion-label>
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
            <p>Eliminar</p>
          </ion-label>
        </ion-button>
      </ion-item>
    </ion-list> -->
  </section>

  <section *ngSwitchCase="'ficha'">
    <ion-row class="ion-padding-top">
      <ion-col>
        <div class="hijo-avatar">
          <img *ngIf="image == '' || image == null" src="/assets/img/ico-user-72x72.svg">
          <img *ngIf="image && image != '' " class="fotoperfil"  src={{image}}>
        </div>
        <ion-label class="ion-text-center">
          <p class="edit-perfil">Editar foto</p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <ion-list lines="none" class="ion-no-padding" mode="md">
          <ion-item lines="none" mode="md">
            <ion-label position="stacked" mode="md">Nombre:</ion-label>
            <ion-input mode="md" [formControl]="nombre"></ion-input>
          </ion-item>
          <ion-item lines="none" mode="md">
            <ion-label position="stacked" mode="md">Apellido paterno:</ion-label>
            <ion-input mode="md" [formControl]="apellido"></ion-input>
          </ion-item>
          <ion-item lines="none" mode="md">
            <ion-label position="stacked" mode="md">Apellido materno:</ion-label>
            <ion-input mode="md" [formControl]="materno"></ion-input>
          </ion-item>
          <ion-item lines="none" mode="md">
            <ion-label position="stacked" mode="md">Fecha de nacimiento:</ion-label>
            <ion-input mode="md" [formControl]="fecha"></ion-input>
          </ion-item>
          <ion-item lines="none" mode="md">
            <ion-label position="stacked" mode="md">Hora de nacimiento:</ion-label>
            <ion-input mode="md"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </section>


  <section *ngSwitchCase="'diseno'">
    <ion-row class="ion-padding" >
      <ion-col>
        <ion-label class="diseno-title">
          Seleccione una plantilla
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal ion-padding-bottom" *ngFor="let plantilla of plantillas">
      <ion-col class="plantilla-layout">
        <div [class.plantillaborde]="plantilla.check">
          <img src={{plantilla.img}}>
        </div>
        <ion-label class="plantilla-text">
          {{plantilla.nombre}}
        </ion-label>
        <ion-chip *ngIf="!plantilla.check" (click)="selectplantilla(plantilla.id)">
          <ion-label class="ion-text-center">Seleccionar</ion-label>
        </ion-chip>
        <ion-label class="plan-select" *ngIf="plantilla.check">
          Seleccionada
        </ion-label>
      </ion-col>
    </ion-row>
  </section>
  </div>
</ion-content>

<svg width="0" height="0">
  <linearGradient id="colorgrad" x1="0" x2="0" y1="0" y2="1">
    <stop offset="0%"  stop-color="#ce5cdc"/>
    <stop offset="50%" stop-color="#419bcc"/>
    <stop offset="100%" stop-color="#57dfc2"/>
  </linearGradient>
</svg>  
