  ion-chip{
    background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);
    color: #ffffff;
    font-size: 12px;
    margin: 0px;
    font-family: 'SF Pro Display';
    width: 75px;
    height: 25px;
    text-align: center;
    padding: 0px 10px;
    ion-label{
      width: 75px;
    }
  }

  ion-list{
    h3{
      font-family: 'SF Pro Display';
      font-size: 14px;
      margin:0px;
      color: #666666;
    }
    p{
      font-family: 'SF Pro Display';
      font-size: 12px;
      margin: 0px;
      line-height: 15px;
      color: #C6C6C6;
    }
    ion-item{
      border-bottom: 1px solid #EEEEEE;
    }
    
    ion-item:first-child{
      border-top: 1px solid #EEEEEE;
    }
  }

  .title-item{
    border-bottom: 0px solid #F1F1F1;
    ion-label{
      padding: 13px 0px;
      h3{
        font-size: 25px;
        font-family: 'SF Pro Display';
        font-weight: 100;
        color: #666666;
      }
    }
  }

ion-avatar{
  width: 36px;
  height: 36px;
}

