<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="title-item" mode="md">
    <ion-label>
      <h3>Notificaciones</h3>
    </ion-label>
  </ion-item>



  <ion-list mode="md">
    <ion-virtual-scroll [items]="notificaciones" approxItemHeight="60">
      <ion-item  *virtualItem="let notificacion" lines="none" mode="md">  
        <ion-avatar slot="start">
          <ion-img src={{notificacion.foto}}></ion-img>
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h3>{{notificacion.nombre}} {{notificacion.apellido}}</h3>
          <p>{{notificacion.texto}}</p>
        </ion-label>
        <img *ngIf="notificacion.img" slot="end" src={{notificacion.imgurl}}>
        <ion-chip *ngIf="notificacion.chip" mode="md">
          <ion-label class="ion-text-center">{{notificacion.chiptext}}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>

</ion-content>
