ion-button{
    height: 45px;
    border: 1px solid white;
    --background: transparent;
    --border-radius: 22px;
    border-radius: 22px;
    font-size: 18px;
    --box-shadow: none;
    font-family: 'SF Pro Display';
    text-transform: uppercase;
}

.otros{
    font-size: 14px;
    font-family: 'SF Pro Display';
}

ion-header {
    ion-toolbar {
      --background-color: transparent;
      --ion-color-base: transparent !important;
      --background: transparent;
    }
  }

ion-content{
    --background: linear-gradient(45deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 35%, rgba(87,223,194,1) 100%);
    background: linear-gradient(45deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 35%, rgba(87,223,194,1) 100%);
}

ion-list{
    font-family: 'SF Pro Display';
    background-color: transparent;
    ion-label{
        font-family: 'SF Pro Display';
        font-size: 18px;
        color: #ffffff;
    }

    ion-item{
        color: #ffffff;
        --highlight-color-focused: #ffffff;
        &.item-has-focus ion-label {
            color: #ffffff !important;
        }
    }

    .advertencia{
        font-family: "SF Pro Display";
        font-size: 14px;
        color: #eb445a;
        padding: 0 15px;
    }

}


.alerticon{
    margin-top: 23px;
}



.footer{
    padding-bottom: 0px;
    margin-top: 16px;
    ion-label{
        font-family: 'SF Pro Display';
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 0px;
    }
}

//tablet
@media (min-width: 768px) {

    ion-col{
        padding-left: 120px;
        padding-right: 120px;
    }

  } // fin tablet