<ion-header class="ion-no-border">
  <ion-toolbar translucent>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen >
  <ion-row class="ion-padding-horizontal">
    <ion-col class="ion-padding-horizontal">
      <img class="logo-header" src="/assets/img/IMG_2097.PNG">
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding">
    <ion-col class="ion-padding-horizontal">
    <form #loginForm="ngForm" [formGroup]="login">
      <ion-list mode="md" color="none">
        <ion-item mode="md" color="none">
          <ion-label mode="md" position="floating">Usuario</ion-label>
          <ion-input formControlName="usuario" mode="md" type="text" color="light"></ion-input>
          <ion-icon slot="end" *ngIf="isSubmitted && login.controls.usuario.errors?.required" name="alert-circle" color="danger" class="alerticon"></ion-icon>
        </ion-item>
        <ion-item mode="md" color="none">
          <ion-label mode="md" position="floating">Contraseña</ion-label>
          <ion-input formControlName="contrasena" mode="md" type="password" clearOnEdit="false" color="light"></ion-input>
          <ion-icon slot="end" *ngIf="isSubmitted && login.controls.contrasena.errors?.required" name="alert-circle" color="danger" class="alerticon"></ion-icon>
        </ion-item>
      </ion-list>
    </form>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding">
    <ion-col class="ion-padding-horizontal">
      <ion-button mode="md"  (click)="onlogin()" expand="block">Ingresar</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal">
    <ion-col class="ion-padding-horizontal">
      <ion-button mode="md" [routerLink]="['/tabs/tab1/all']" [disabled]="true" expand="block" class="otros">
        <ion-icon mode="md" slot="start" name="logo-google"></ion-icon>Ingresar con Google
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal">
    <ion-col class="ion-padding-horizontal">
      <ion-button mode="md" [routerLink]="['/tabs/tab1/all']" [disabled]="true" expand="block" class="otros">
        <ion-icon mode="md" slot="start" name="logo-facebook"></ion-icon>Ingresar con Facebook
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer mode="md" class="ion-no-border" no-shadow *ngIf="isKeyboardHide">
  <ion-row class="ion-padding footer">
    <ion-col>
      <ion-item mode="md" lines="none" class="ion-text-center" color="none" [routerLink]="['/registro']">
        <ion-label>¿No tienes una cuenta? <b>Registrate aquí</b></ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-footer>