
fa-icon{
    font-size: 26px;
}

ion-icon{
  width: 36px;
  height: 36px;
}

.tab-selected ion-icon::ng-deep svg * {
  fill: url(#lgrad);
}

.tab-selected fa-icon::ng-deep svg * {
    fill: url(#lgrad);
  }

  ion-badge{
    position: absolute;
    left: 52%;
    top: 12px;
    border-radius: 50%;
    width: 12px;
    height: 13px;
    font-size: 10px;
    font-weight: 600;
    background: #CE0505;
    padding: 2px;
  }

  .select{
    display:none;
  }

  .tab-selected {
    ion-icon{
      display:none;
    }
    .select{
      display: block!important;
    }
  }