<ion-tabs mode="md">

  <ion-tab-bar slot="bottom" mode="md">
    <ion-tab-button (click)="openModal()" mode="md">
      <ion-icon src="/assets/icon/ico-nav-hijos.svg"></ion-icon>
      <ion-icon class="select" src="/assets/icon/ico-nav-hijos-selected.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" mode="md">
      <ion-icon src="/assets/icon/ico-nav-buscar.svg"></ion-icon>
      <ion-icon class="select" src="/assets/icon/ico-nav-buscar-selected.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="openModalmultiple()" mode="md">
      <ion-icon src="/assets/icon/ico-nav-agregar.svg"></ion-icon>
      <ion-icon class="select" src="/assets/icon/ico-nav-agregar-selected.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4" mode="md">
      <ion-badge id="notifications-badge" *ngIf="notify_number > 0">{{ notify_number }}</ion-badge>
      <ion-icon src="/assets/icon/ico-nav-notificaciones.svg"></ion-icon>
      <ion-icon class="select" src="/assets/icon/ico-nav-notificaciones-selected.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button mode="md" [routerLink]="['/tabs/tab5']">
      <ion-icon src="/assets/icon/ico-nav-cuenta.svg"></ion-icon>
      <ion-icon class="select" src="/assets/icon/ico-nav-cuenta-selected.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<svg width="0" height="0">
	<linearGradient id="lgrad" x1="100%" y1="100%" x2="0%" y2="0%" >
		<stop offset="0%" style="stop-color:#ce5cdc;stop-opacity:1" />
		<stop offset="50%" style="stop-color:#419bcc;stop-opacity:1" />
		<stop offset="100%" style="stop-color:#57dfc2;stop-opacity:1" />
	</linearGradient>
</svg>