<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar mode="ios" placeholder="Buscar" [(ngModel)]="searchTerm" (ionChange)="searchuser()"></ion-searchbar>
  <ion-list *ngIf="searchTerm != ''">
    <ion-virtual-scroll [items]="usuarios" approxItemHeight="60">
      <ion-item lines="none" *virtualItem="let usuario" mode="md">  
        <ion-avatar slot="start" *ngIf="usuario.id >= 0">
          <ion-img *ngIf="usuario.picture && usuario.picture != '' " src={{apiurl}}{{usuario.picture}}></ion-img>
          <ion-img *ngIf="usuario.picture == '' || usuario.picture == null" src='/assets/img/ico-user-72x72.svg'></ion-img>
        </ion-avatar>
        <ion-icon *ngIf="usuario.id >= 0" (click)="seguir(usuario.id)" slot="end" class="mas-icon" src="/assets/icon/ico-accion-agregar-circulo.svg"></ion-icon>
        <ion-label>
          <h3>{{usuario.name}} {{usuario.lastname}}</h3>
          <p *ngIf="usuario.id >= 0">0 contacto(s) en común.</p>
        </ion-label>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border" no-shadow *ngIf="isKeyboardHide">
  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col>
      <ion-label>
        <h3>¿No encuentras a quién estas buscando?</h3>
        <p>Inténtalo importando tus contactos desde:</p>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding-horizontal redes">
    <ion-col size=4>
      <ion-icon src="/assets/icon/ico-importar-google.svg"></ion-icon>
      <p class="social">Google</p>
    </ion-col>
    <ion-col size=4>
      <ion-icon src="/assets/icon/ico-importar-facebook.svg"></ion-icon>
      <p class="social">Facebook</p>
    </ion-col>
    <ion-col size=4>
      <ion-icon src="/assets/icon/ico-importar-cloud.svg"></ion-icon>
      <p class="social">iCloud</p>
    </ion-col>
  </ion-row>
</ion-footer>