/*.mas-icon{
    height: 30px;
    width: 30px;
    color:#80C057;
}*/

ion-searchbar{
    background: transparent;
    --background: transparent;
    border: 1px solid #00000067;
    height: 47px;
    font-size: 14px;
    font-family: 'SF Pro Display';
}

ion-list{
    ion-item{
        ion-label{
            h3{
                font-family: 'SF Pro Display';
                font-size: 14px;
                color: #666666;

            }
            p{
                font-family: 'SF Pro Display';
                font-size: 12px;
                color: #C6C6C6;
            }
        }
    }
}

ion-footer{
    background: #EEEEEE;
    --background: #EEEEEE;
    ion-label{
        h3{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #666666;
            font-weight: bold;
        }
        p{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #666666;
        }
    }
    .redes{
        ion-col{
            display: grid;
            grid-template-columns: auto auto;
        }
        p{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #666666;
        }
    }
    ion-icon{
        width: 36px;
        height: 36px;
        margin: 5px 0px;
    }
    fa-icon{
        font-size: 25px;
        background: #ffffff;
        padding: 5px 8px;
        border-radius: 50px;
    }
    .facebook{
        padding: 5px 10px;
    }
    .cloud{
        padding: 5px;
    }
}