<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
 <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>-->

    <ion-card class="feed-card" *ngFor="let post of posts; let i = index" mode="md">
      <div class="feed-slides-wrapper">

        <ion-slides [options]="slideOpts" class="feed-slides" mode="md" *ngIf="post.pictures.length == 1">
          <ion-slide *ngFor="let picture of post.pictures">
            <img src="{{apiurl}}{{picture.picture}}" />
          </ion-slide>
        </ion-slides>

        <ion-slides pager="true" [options]="slideOpts" class="feed-slides" mode="md" *ngIf="post.pictures.length > 1">
          <ion-slide *ngFor="let picture of post.pictures">
            <img src="{{apiurl}}{{picture.picture}}" />
          </ion-slide>
        </ion-slides>

        <ion-slides  [options]="slideOpts" class="feed-slides" mode="md" *ngIf="post.pictures.length == 0">
          <ion-slide class="Slidertitle">
            <ion-text>{{post.description}}</ion-text>
          </ion-slide>
        </ion-slides>

        <div class="feed-btn-wrapper">
          <ion-buttons class="ion-float-left">
            <ion-button (click)="like(post.id,i)">
              {{post.likes_count}} <ion-icon *ngIf="!likecontrol[i]" src="/assets/icon/ico-publicacion-love.svg" mode="md"></ion-icon>
              <ion-icon *ngIf="likecontrol[i]" src="/assets/icon/ico-publicacion-love-active.svg" mode="md"></ion-icon>
            </ion-button>
            <ion-button (click)="opencomentarios(i)">
              {{post.comments_count}} <ion-icon src="/assets/icon/ico-publicacion-comentario.svg" mode="md"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-buttons class="ion-float-right">
            <ion-button (click)="openopcion()">
              <ion-icon src="/assets/icon/ico-publicacion-editar.svg" mode="md"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </div>
     
      <ion-card-content class="feed-user-wrapper">
        <div class="ion-align-items-center user-image-wrapper">
          <img *ngIf="usuario.img == '' || usuario.img == null" src="/assets/img/ico-user-72x72.svg">
          <img *ngIf="usuario.img != ''" src={{apiurl}}{{usuario.img}}>
        </div>
        <div class="user-details">
          <p class="user-name">{{usuario.username}}</p>
          <p class="user-place" *ngIf="post.pictures.length != 0">{{post.description}}</p>
          <p class="user-place" *ngIf="post.pictures.length == 0">{{post.title}}</p>
          <div class="time-user-heart">
            <ion-icon class="heartcoment" src="/assets/icon/ico-publicacion-love.svg" mode="md"></ion-icon> 
            <p class="user-time">{{ post.fecha | date: 'MMM d, y' }}</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!totaldata">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
