<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
    <ion-col>
      <ion-item lines="none" class="usuario" mode="md">
        <ion-avatar slot="start" class="avatar">
          <ion-img *ngIf="usuario.img == '' || usuario.img == null" src='/assets/img/ico-user-72x72.svg'></ion-img>
          <ion-img *ngIf="usuario.img && usuario.img != '' " src={{apiurl}}{{usuario.img}}></ion-img>
        </ion-avatar>
        <ion-label class="nombres">
          <p>{{usuario.nombre}}</p>
          <p></p>
        </ion-label>
        <img class="avatar2" src='{{hijo.foto}}' *ngFor="let hijo of hijos">
      </ion-item>
    </ion-col>
  </ion-row>
 
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-label class="seguidores">
          <p>{{total}} seguidores</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item-sliding *ngFor="let seguidor of seguidores">
      <ion-item lines="none" mode="md">
        <ion-avatar slot="start">
          <ion-img *ngIf="seguidor.img  && seguidor.img != '' " src={{apiurl}}{{seguidor.img}}></ion-img>
          <ion-img *ngIf="seguidor.img == '' || seguidor.img == null" src="/assets/img/ico-user-72x72.svg"></ion-img>
        </ion-avatar>
        <ion-label>
          <h3>{{seguidor.nombre}} {{seguidor.apellido}}</h3>
        </ion-label>
        <ion-icon slot="end" src="/assets/icon/ico-accion-siguiente.svg"></ion-icon>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-label class="ion-text-center">
            <!--<fa-icon [icon]="['fas', 'ban']"></fa-icon>-->
            <ion-icon slot="end" src="/assets/icon/ico-accion-bloquear-blanco.svg"></ion-icon>
            <p>Bloquear</p>
          </ion-label>
        </ion-item-option>
        <ion-item-option>
          <ion-label class="ion-text-center">
            <!--<fa-icon [icon]="['fas', 'times']"></fa-icon>-->
            <ion-icon slot="end" src="/assets/icon/ico-accion-eliminar-blanco.svg"></ion-icon>
            <p>Eliminar</p>
          </ion-label>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
