.title{
    ion-icon{
        color: #DBDBDB;
        margin-right: 10px;
    }
    h4{
        font-family: 'SF Pro Display';
        color: #666666;
        font-size: 25px;
        font-weight: 100;
        margin-top: 10px;
    }
}

.textos{
    ion-item{
        ion-label:first-child{
            margin-top: 0px;
        }
        p{
            font-family: 'SF Pro Display';
            font-size: 12px;
            color: #666666;
            margin-bottom: 7px;
        }
        h6{
            font-family: "SF Pro Display";
            font-size: 12px;
            color: #666666;
            font-weight: bold;
            margin-bottom: 12px;
        }
        h5{
            font-family: "SF Pro Display";
            font-size: 12px;
            color: #666666;
            font-style: italic;
            margin-bottom: 12px;
            margin-top: 12px;
        }
        ul{
            margin: 0px;
            padding-left: 16px;
            margin-bottom: 7px;
        }
        li{
            font-family: 'SF Pro Display';
            font-size: 12px;
            color: #666666;
        }
        ion-text{
            color:#3897f0;
            text-decoration: underline;
        }
    }
}