<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes-selected.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col>
      <ion-item lines="none" class="ion-no-padding title" mode="md">
        <ion-icon mode="ios" slot="start" name="chevron-back" [routerLink]="['/tabs/babybook']"></ion-icon> 
        <h4>Normas comunitarias</h4>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="textos">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Resumen</h6>
          <p>Queremos que Babybook sea un lugar único y familiar, seguro en el que los padres, familiares, amigos y conocidos de confianza ayuden a completar esa parte de la vida que a todos nos falta. Para que esto se cumpla necesitamos y requerimos de tu ayuda y de nuestra comunidad. Publica tus datos reales, Babybook tiene como finalidad prolongarse en el tiempo, por lo cual tu o tus hijos verán en un par de décadas el contenido de su Babybook (libro de bebé) y querrán saber detalles específicos y apegados a la verdad.  Publica solo fotos y videos propios, y cumple la ley en todo momento, intenta no exponer tu privacidad con personas que no consideres estrictamente de tu circulo cercano (Hazlo solo con: Familiares, amigos y conocidos de confianza). Respeta a todos los usuarios de Babybook; no les envíes spam ni publiques desnudos o contenidos ofensivos en términos: Sexuales, raciales, étnicos, religiosos o suicidas.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Descripción detallada</h6>
          <p>Babybook  es un reflejo de nuestra diversa comunidad de culturas, edades y creencias. Dedicamos mucho tiempo a considerar los diferentes factores que contribuyen a crear un entorno seguro para los recuerdos de cada ser humano.</p>
          <p>Creamos las Normas comunitarias para que puedas ayudarnos a fomentar y proteger esta increíble comunidad. Al utilizar Babybook, aceptas estas normas y nuestras Políticas de uso. </p>
          <p>Nosotros nos comprometemos a cumplir estas normas y esperamos que tú también lo hagas.</p>
          <p>El incumplimiento de estas normas puede provocar la eliminación de contenido, la desactivación de tu cuenta u otras restricciones.</p>
          <ul>
            <li><b>Comparte solo fotos y videos que tú hayas tomado o grabado, o que tengas derecho para compartir.</b></li>
            <p>Como siempre, el contenido que publicas en Babybook es de tu propiedad. Recuerda publicar contenido auténtico; no publiques nada que hayas copiado o encontrado en internet y que no tengas derecho a publicar. Ten presente que puedes exponerte a penas civiles por infringir derechos de propiedad intelectual por parte del autor real de esos contenidos.</p>
            <h6>Publica fotos y videos que resulten apropiados para un público diverso.</h6>
            <p>Somos conscientes de que es posible que algunas personas quieran compartir imágenes de desnudos de carácter tierno y emotivo con sus hijos (Ejemplo un baño de tina o una madre amamantando); sin embargo, por diversos motivos, no permitimos que se publiquen desnudos en Babybook. Esta restricción se aplica a fotos, videos y determinado contenido digital que muestren actos sexuales, genitales y primeros planos de nalgas totalmente al descubierto. También se aplica a algunas fotos de pezones femeninos. No obstante, sí se permiten fotos de cicatrices de mastectomías y de lactancia materna. También se aceptan desnudos en fotos de cuadros y esculturas.</p>
            <p>A la gente le gusta compartir fotos o videos de sus hijos. Por razones de seguridad, es posible que, en determinadas ocasiones, retiremos imágenes que muestren niños total o parcialmente desnudos. Aunque este contenido se comparta con buena intención, otras personas podrían utilizarlo de modo imprevisto</p>
            <h6>Se genuino</h6>
            <p>No intentes generar popularidad o atracción mediante contenidos que sean artificiales y no del todo orgánicos, intenta resaltar por tu cariño y respeto hacia el bebé y los padres de cada perfil. No intentes insistir en buscar asociaciones del tipo comercial que no son mutuas (Venta de productos o publicaciones de carácter comercial dentro de los comentarios).</p>
            <p>Al contrario de otras redes sociales, para Babybook es trascendental tu información real, la cual utilizaremos con el fin de entregar a tu hijo en un contenido real  (Su Babybook personalizado y tangible) y 100% genuino sobre su vida, sin alias, ni mentiras, como todo ser humano lo merece. </p>
            <p>No te hagas pasar por otras personas ni crees cuentas con la finalidad de infringir nuestras normas o engañar a personas, contamos con las herramientas internas de seguridad que identifican estas posibles amenazas dándonos los argumentos necesarios para suspender cuentas de personas que realicen este tipo de actividades.</p>
            <li><b>Cumple la ley.</b></li>
            <p>En Babybook, no se aceptan actividades ni personas que apoyen o elogien el terrorismo, el crimen organizado o grupos que promuevan el odio. Tampoco se permiten la oferta de servicios sexuales ni la compra o venta de armas de fuego, alcohol y productos de tabaco entre personas, ni la compra o la venta de medicamentos recetados o ilegales (incluso si es legal en tu zona). </p>
            <p>Babybook también prohíbe la venta de animales vivos entre personas particulares, si bien las tiendas físicas sí pueden ofrecer estas ventas. No está permitido coordinar la caza furtiva ni la venta de especies en peligro de extinción o partes de estas.</p>
            <p>Recuerda cumplir en todo momento la ley cuando ofrezcas comprar o vender bienes regulados. Las cuentas que promocionan los juegos de apuestas, los juegos de habilidad con dinero real o las loterías en internet deben obtener nuestro consentimiento por escrito antes de utilizar nuestros productos.</p>
            <p>No se tolerará por ningún motivo o circunstancia ni argumento, publicaciones que afecten el bienestar o la reputación de un menor de edad, ni tampoco que promuevan conductas agresivas hacia un grupo familiar en especifico. Tampoco se permitirá la publicación para perjudicar la imagen de  una madre o un padre o un familiar que, sin investigación previa, sea juzgado de manera pública. </p>
            <p>No tenemos ningún tipo de tolerancia con aquellas personas que comparten contenido sexual relacionado con menores o que amenazan con publicar imágenes íntimas de otros usuarios.</p>
            <li><b>Respeta al resto de los miembros de la comunidad de Babybook.</b></li>
            <p>Queremos promover una comunidad diversa y positiva. Retiramos cualquier contenido que incluya amenazas creíbles o lenguaje que incite al odio, contenido dirigido a particulares con el fin de humillarlos o avergonzarlos, información personal utilizada para chantajear o acosar a alguien y mensajes no deseados reiterativos. </p>
            <p>En ningún caso es aceptable fomentar la violencia ni atacar a alguien por razones de raza, etnia, nacionalidad, sexo, identidad sexual, orientación sexual, creencias religiosas, discapacidad o enfermedad. Cabe la posibilidad de que permitamos el uso de lenguaje que incite al odio si se utiliza con el fin de cuestionar este tipo de comportamientos o para poner de manifiesto estos temas. En estos casos, te pedimos que expreses tu intención de forma clara.</p>
            <p>No se permiten amenazas graves a la seguridad pública y personal. Estas amenazas incluyen amenazas específicas contra la integridad física y amenazas de robo, vandalismo y otros perjuicios financieros. Revisamos meticulosamente los reportes de amenazas y tenemos en cuenta muchos factores a la hora de determinar si son creíbles.</p>
            <li><b>Contribuye a mantener nuestro entorno seguro evitando fomentar las autolesiones.</b></li>
            <p>Animar o instar a personas a autolesionarse atenta contra los objetivos de la comunidad, por lo que retiraremos o desactivaremos las cuentas que reciban reportes en este sentido. Es posible que también retiremos contenido que identifique a víctimas de autolesiones si este se utiliza en forma de ataque o burla.</p>
          </ul>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h6>Ayúdanos a mantener unida la comunidad:</h6>
          <ul>
            <li>Todos somos una parte importante de la comunidad de Babybook. Si ves algo que consideras que infringe nuestras normas, repórtalo desde la misma publicación.</li>
            <p>Contamos con un equipo que revisa estos reportes y trabaja con la mayor velocidad posible para retirar el contenido que incumple nuestras normas. </p>
            <p>Cuando completes el reporte, proporciona toda la información que sea posible, como enlaces, nombres de usuario y descripciones del contenido, de modo que podamos encontrarlo y revisarlo rápidamente. Podemos eliminar toda la publicación si las imágenes o los subtítulos asociados infringen nuestras normas.</p>
            <li>Es posible que encuentres contenido que no te guste, pero que no infrinja las Normas comunitarias. Si esto sucede, puedes <ion-text>dejar de seguir</ion-text> o <ion-text>bloquear</ion-text> a la persona que realizó la publicación. Si ves un comentario que no te gusta en una de tus publicaciones, puedes <ion-text>eliminarlo</ion-text>.</li>
            <li>Muchas disputas y malentendidos se pueden resolver directamente entre los miembros de la comunidad. Si otro miembro publica una de tus fotos o uno de tus videos, puedes pedirle que los retire en un comentario en la publicación. Si no funciona, puedes <ion-text>presentar un reporte de derechos de autor</ion-text>. Si crees que alguien está vulnerando tu marca comercial, también puedes <ion-text>presentar un reporte de marca comercial</ion-text>. No publiques capturas de pantalla ni llames la atención sobre el problema, ya que esto podría considerarse acoso.</li>
            <li>Trabajamos con las fuerzas del orden cuando creemos que existe riesgo de daños físicos o amenazas a la seguridad pública.</li>
          </ul>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <p>Para obtener más información, consulta las <ion-text>Condiciones de uso</ion-text>.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <p>Gracias por ayudarnos a crear una de las mejores comunidades del mundo.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <p>El equipo de Babybook.</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>