<div class="inner-content">
  <ion-list>
    <ion-grid><ion-col></ion-col></ion-grid>
    <ion-item lines="none" mode="md">
      <ion-label class="ion-text-center label-item">
        Seleccione uno o más Babybooks
      </ion-label>
    </ion-item>
   
    <ion-item mode="md" lines="none" *ngFor="let hijo of hijos; let i = index" [id]="hijo.id" class="usuario" [class.seleccionado]="hijo.seleccionado"  (click)="select(i)">
      <ion-avatar slot="start" class="avatar">
        <ion-img *ngIf="hijo.foto != ''" src="{{apiurl}}{{hijo.foto}}"></ion-img>
        <ion-img *ngIf="hijo.foto == '' || hijo.foto == null" src="/assets/img/ico-user-line-36x36.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p>{{hijo.nombre}}</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" mode="md" (click)="dismiss()">
      <ion-label class="ion-text-center label-item acep">
        Aceptar
      </ion-label>
    </ion-item>
  </ion-list>
</div>