.usuario{
    height: 46px!important;
    border: 1px solid #EEEEEE;
    width: 91%;
    margin: 6px 5%;
    border-radius: 50px;
    .avatar{
        height: 36px;
        width: 36px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    p{
        font-family: 'SF Pro Display';
        font-size: 14px;
        color: #666666;
    }
    ion-label{
        margin: 0px;
    }
}

.seleccionado{
    border: 0px solid #EEEEEE;
    --background: linear-gradient(45deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 35%, rgba(87,223,194,1) 100%);
    background: linear-gradient(45deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 35%, rgba(87,223,194,1) 100%);
    p{
        font-family: 'SF Pro Display';
        font-size: 14px;
        color: #ffffff;
    }
}

.label-item{
    font-family: 'SF Pro Display';
    font-size: 14px;
    color: #666666;
}

.acep{
    color: #659AC9!important;
}

ion-item{
    height: 44px;
    --min-height: 44px;
}

ion-grid{
    display: grid;
    grid-template-columns: auto 30px auto;
    ion-col{
        grid-column: 2;
        padding: 0px;
        border: 1px solid #CACACA;
        height: 3px;
        border-radius: 1px;
    }
}