.usuario{
    padding: 10px;
    ion-label{
        h3{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #666666;
            font-weight: bold;
        }
        p{
            font-family: 'SF Pro Display';
            font-weight: 200;
            font-size: 14px;
            color: #666666;
        }
        .editar{
            font-size: 12px;
            font-weight: 200;
            color: #83BFC8!important;
        }
    }
}

.avatar{
    width: 72px;
    height: 72px;
}

.siguiendo{
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    padding:0px;
    text-align: center;
    ion-col{
        padding: 0px 10px;
        p{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #666666;
        }
    }
    .siguen{
        border-right: 1px solid #F1F1F1;
    }
}

.padres{
    border-bottom: 1px solid #F1F1F1;
    ion-avatar{
        height: 36px;
        width: 36px;
    }
    ion-label{
        margin: 0px;
        p{
            font-family: 'SF Pro Display';
            font-size: 12px;
            color: #CACACA;
            margin:0px;
        }
        h3{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #666666;
            margin:0px;
        }
    }
}

.datos{
    ion-item{
        height: 30px;
    }
    ion-label{
        margin:0px;
        font-family: 'SF Pro Display';
        font-size: 14px;
        color: #666666;
    }
    .estado{
        font-family: 'SF Pro Display';
        font-size: 12px;
        color: #CACACA;
    }
}
