<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="usuario" mode="md" [routerLink]="['/tabs/hijo/',id]">
    <ion-avatar slot="start" class="avatar">
      <ion-img *ngIf="hijo.img == '' || hijo.img == null" src='/assets/img/ico-user-72x72.svg'></ion-img>
      <ion-img *ngIf="hijo.img != ''" src="{{apiurl}}{{hijo.img}}"></ion-img>
    </ion-avatar>
    <ion-label>
      <h3>{{hijo.nombre}}</h3>
      <p>{{sexo}}, {{edad}} años.</p>
      <p class="editar">Editar</p>
    </ion-label>
  </ion-item>

  <ion-grid class="siguiendo">
    <ion-row class="seguir">
      <ion-col size=6 class="siguen" [routerLink]="['/tabs/seguidores']">
        <p>{{seguidores}} seguidores</p>
      </ion-col>
      <ion-col size=6 class="publicado" [routerLink]="['/tabs/muro/hijo/',id]">
        <p>{{publicaciones}} publicaciones</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="padres">
    <ion-col>
      <ion-list lines="none" mode="md">
        <ion-item lines="none" mode="md">
          <ion-avatar slot="start">
            <ion-img src='/assets/img/ico-user-72x72.svg'></ion-img>
          </ion-avatar>
          <ion-label>
            <p>Mamá</p>
            <h3>Nombre mamá</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" mode="md">
          <ion-avatar slot="start">
            <ion-img src='/assets/img/ico-user-72x72.svg'></ion-img>
          </ion-avatar>
          <ion-label>
            <p>Papá</p>
            <h3>Nombre Papá</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="datos">
    <ion-col>
      <ion-list lines="none" mode="md">
        <ion-item lines="none" mode="md">
          <ion-label>
            Nacimiento: {{fecha | date:'yyyy-MM-dd'}}
          </ion-label>
        </ion-item>
        <ion-item lines="none" mode="md">
          <ion-label>
            Sexo: {{sexo}}
          </ion-label>
        </ion-item>
        <ion-item lines="none" mode="md">
          <ion-label>
            Pais: {{hijo.nacionalidad}}
          </ion-label>
        </ion-item>
        <ion-item lines="none" mode="md">
          <ion-label>
            Ciudad: {{hijo.lugar_nacimiento}}
          </ion-label>
        </ion-item>
        <ion-item lines="none" mode="md">
          <ion-label class="estado">
            Perfil completo
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  
</ion-content>
