<div class="inner-content">
  <ion-list>
    <ion-grid><ion-col></ion-col></ion-grid>
    <ion-item lines="none" (click)="dismiss('all')" mode="md">
      <ion-icon slot="start" src="/assets/icon/ico-hijos-36x36.svg" class="add-icon"></ion-icon>
      <ion-label>
        <p>Mostrar todos</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" *ngFor="let hijo of hijos" (click)="dismiss(hijo.id)" mode="md">
      <ion-avatar slot="start" class="avatar">
        <ion-img *ngIf="hijo.foto != ''" src="{{apiurl}}{{hijo.foto}}"></ion-img>
        <ion-img *ngIf="hijo.foto == '' || hijo.foto == null" src="/assets/img/ico-user-line-36x36.svg"></ion-img>
      </ion-avatar>
      <ion-label>
        <p>{{hijo.nombre}}</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="dismissagregar()" lines="none" mode="md">
      <ion-icon slot="start" src="/assets/icon/ico-user-add-36x36.svg" class="add-icon"></ion-icon>
      <ion-label>
        <p>Agregar hijo</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
