.feed-card {
    margin: 0;
    box-shadow: none;
    .feed-user-wrapper{
      display: flex;
      padding: 5px 16px;
      background: #F1F1F1;
      .user-image-wrapper{
        border-radius: 50%;
        height: 44px;
        img{
          width: 44px;
          height: 100%;
          border-radius: 50%;
          max-width: none;
        }
      }
      .user-details{
        margin-left: 10px;
        width: 100%;
        .user-name{
          font-family: 'SF Pro Display';
          font-size: 14px;
          margin: 5px 0;
          font-weight: bold;
          color: #666666;
        }
        .user-place{
          font-family: 'SF Pro Display';
          font-size: 14px;
          color: #666666;
        }
        .user-time{
          font-family: 'SF Pro Display';
          font-size: 12px;
          color: #7F7F7F;
        }
      }
    }
    .feed-slides-wrapper{
      position: relative;
      .feed-slides{
        padding-bottom: 40px;
        --bullet-background: var(--ion-color-light-contrast);
      }
      .feed-btn-wrapper{
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 0 3px;
        z-index: 2;
        margin-bottom: 4px;
        .ion-float-left{
          ion-button{
               --padding-end: 0;
          }
        }
        ion-icon{
          font-size: 30px;
        }
      }
    }
    .feed-details-container{
      color: var(--ion-color-dark);
      .grey-text{
        color: var(--ion-color-medium);
      }
      .user-given-details{
        display: flex;
        .user-name{
          margin-right: 5px;
        }
        ion-avatar{
          width: 18px;
          height: 18px;
          margin-right: 8px;
          margin-top: 3px;
        }
        .feed-text{
          margin-right: 5px;
        }
      }
      .all-comments{
        margin-top: 5px;
        font-size: 13px;
      }
      .post-time{
        margin-top: 5px;
        font-size: 10px;
      }
    }
  }
  
  .insta-feed-header {
    ion-icon{
      font-size: 28px;
    }
    .insta-font{
      font-family: 'Grand Hotel', cursive;
      font-size: 28px;
    }
  }
  
  .status-wrapper{
    border-bottom: 1px solid #f3f3f3;
    padding: 10px 5px 0 5px;
    .own-status{
      position: relative;
      .plus-icon{
        position: absolute;
        bottom: 25px;
        right: 20px;
        background: var(--ion-color-primary);
        color: white;
        border-radius: 50%;
        border: 2px solid white;
        font-size: 13px;
      }
    }
    .status-item{
      --padding-end: 0;
      --padding-start: 0;
      --color-checked: transparent;
      --border-color: transparent;
      &.other-status{
        ion-avatar{
          width: 52px;
          height: 52px;
          border: 2px solid lightcoral;
          img{
            border: 2px solid white;
          }
        }
      }
      padding: 0;
      ion-avatar{
        width: 48px;
        height: 48px;
      }
      ion-label{
        width: 80px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 9px;
        text-transform: none;
        color: black;
        margin: 5px 0 0 0;
      }
    }
  }
  


ion-slides{
  --bullet-background-active: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%); 
}

ion-slide{
  img{
    width: 100%;
    max-height: 475px;
    object-fit: cover;
    object-position: center;
    min-height: 300px;
  }
}

.time-user-heart{
  display: flex;
  .heartcoment{
    font-size: 22px;
  }
  .user-time{
    margin: 2px;
  }
}

.Slidertitle{
  padding: 25px;
}