.nombres{
    p{
      font-family: 'SF Pro Display';
      font-size: 14px;
      color: #62C3CD;
      margin:0px;
      font-weight: 200;
    }
}

.avatar{
  width: 32px;
  height: 32px;
}

.avatar2{
  width: 32px;
  height: 32px;
  border-radius: 50px;
  margin: 0px 6px;
}

.seguidores{
  p{
      font-family: 'SF Pro Display';
      font-weight: bold;
      font-size: 14px;
      color: #666666;
  }
}

ion-list{
  ion-item{
      border-bottom: 1px solid #F1F1F1;
  }
  ion-label h3{
      font-family: 'SF Pro Display';
      font-size: 14px;
      color: #666666; 
  }
  ion-icon{
      height: 18px;
      color: #E0E0E0;
  }
}

ion-item-option{
  font-family: 'SF Pro Display';
  font-size: 9px;
  text-transform: initial;
  color: #ffffff;
  background: #FF7800;
  ion-label{
      font-family: 'SF Pro Display';
      font-size: 9px;
      text-transform: initial;
      color: #ffffff;
      p{
          font-family: 'SF Pro Display';
          font-size: 9px;
          text-transform: initial;
          color: #ffffff;
      }
  }
  fa-icon{
      font-size: 20px;
  }
}

ion-item-option:nth-child(2){
  background: #AB272C;
}

ion-item-option{
    ion-icon{
      height: 25px;
      width: 25px;
    }
}