<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" text="Atrás" icon="chevron-back-outline" defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-text slot="end">{{ nombres }}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-col>
        <ion-label class="title-publica">
          <h3>Tu publicación</h3>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col *ngIf="type != 'texto'">

          <div class="imgvideopreview" *ngIf="fotos.length == 1">
            <img *ngIf="fotos[0] == '' || fotos[0] == null" src="https://via.placeholder.com/1080x1920">
            <img *ngIf="fotos[0] != ''" src={{fotos[0]}}>
          </div>

        <ion-slides *ngIf="fotos.length > 1" pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let foto of fotos">
            <div class="imgvideopreview">
              <img *ngIf="foto == '' || foto == null" src="https://via.placeholder.com/1080x1920">
              <img *ngIf="foto != ''" src={{foto}}>
            </div>
          </ion-slide>
        </ion-slides>        
      </ion-col>
      <ion-col *ngIf="type == 'texto'">
        <div class="tipotexto">
          <fa-icon [icon]="['fas', 'align-left']"></fa-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <ion-textarea [formControl]="extra" rows="1" placeholder={{placehol}}></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list lines="none" class="ion-no-padding">
    <ion-item lines="none" [class.seleccionado]="privado">
      <ion-label>
        <h3 *ngIf="privado">Esta publicación es privada</h3>
        <h3 *ngIf="!privado">Cambiar a privada</h3>
        <p>Solo la verán tus contactos</p>
      </ion-label>
      <ion-toggle slot="start" [(ngModel)]="privado" mode="ios" (ngModelChange)="ToogleChange(1,privado)"></ion-toggle>
    </ion-item>
    <ion-item lines="none" [class.seleccionado]="publico">
      <ion-label>
        <h3 *ngIf="!publico">Cambiar a pública</h3>
        <h3 *ngIf="publico">Esta publicación es pública</h3>
        <p>Será visible por todos los usuarios de Babybook</p>
      </ion-label>
      <ion-toggle slot="start" [(ngModel)]="publico" mode="ios" (ngModelChange)="ToogleChange(2,publico)"></ion-toggle>
    </ion-item>
    <ion-item lines="none" *ngIf="publico" [class.seleccionado]="facebook">
      <ion-label>
        <h3>Facebook</h3>
      </ion-label>
      <ion-toggle slot="start" [(ngModel)]="facebook" mode="ios" [disabled]="privado"></ion-toggle>
    </ion-item>
    <ion-item lines="none" *ngIf="publico" [class.seleccionado]="instagram">
      <ion-label>
        <h3>Instagram</h3>
      </ion-label>
      <ion-toggle slot="start" [(ngModel)]="instagram" mode="ios" [disabled]="privado"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border" no-shadow mode="md" *ngIf="isKeyboardHide">
  <ion-row class="grid-publicar ion-padding-vertical">
    <ion-col></ion-col>
    <ion-col>
      <div>
        <ion-button expand="full" (click)="addpost()" mode="md">
          Publicar
        </ion-button>
      </div>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

</ion-footer>