ion-header{
    ion-toolbar{
        --background: #E0E0E0;
    }

    ion-text{
        margin-right: 20px;
        font-family: 'SF Pro Display';
        font-size: 14px;
        color: #7D7D7D;
    }
    ion-back-button{
        text-transform: initial;
        font-family: 'SF Pro Display';
        font-size: 14px;
        color: #666666;
    }
}

.title-publica h3{
    font-family: 'SF Pro Display';
    font-size:25px;
    font-weight: 100;
    color: #666666;
}

img{
    margin: auto;
    display: block;
    /*transform: translateY(-20%);*/
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
}

.imgvideopreview{
    width: 120px;
    height: 120px;
    margin: auto;
    display: block;
    overflow: hidden;
}

.tipotexto{
    width: 120px;
    height: 120px;
    background: #EBEBEB;
    margin: auto;
    display: block;
    padding: 11px 19px;
    font-size: 85px;
    color: #B4B4B4;
}

ion-textarea{
    font-family: 'SF Pro Display';
    font-size: 14px;
    color: #B4B4B4;
}

ion-toggle{
    --background-checked: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);
}

ion-list{
    ion-item{
        ion-label{
            h3{
                font-family: 'SF Pro Display';
                font-size: 14px;
                color: #666666;
            }
            p{
                font-family: 'SF Pro Display';
                font-size: 12px;
                color: #666666;
            }
        }
    }
    ion-item:first-child{
        border-top: 1px solid #EBEBEB;
    }

    ion-item:last-child{
        border-bottom: 1px solid #EBEBEB;
    }

    .seleccionado{
        --background: #EBEBEB;
        border:0px!important;
        ion-label h3{
            font-weight: bold;
        }
    }
}

ion-footer{
    background: #ffffff;
    --background: #ffffff;
    div{
        border-radius: 25px;
        width: 140px;
        height: 50px;
        border: 2px solid white;
        padding: 0px;
        overflow: hidden;
        background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);;
    }

    ion-button{
        --background: none;
        --border-radius: 25px;
        border-radius: 25px;
        font-size: 14px;
        --box-shadow: none;
        font-family: 'SF Pro Display';
        text-transform: initial;
        height: 46px;
        margin: 0px;
    }
}

@media (min-width: 768px) {
    ion-footer div{
        margin: auto;
    }
}