<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding-bottom">
  <form #hijoForm="ngForm" [formGroup]="agregarform">
    <ion-item lines="none">
      <ion-label class="title">
        <h2>Agregar Hijo</h2>
        <p>¡Felicitaciones! para comenzar, agrega una foto:</p>
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col class="ion-text-center" (click)="openModalImage()">
        <img *ngIf="image == '' || image == null " src="/assets/icon/ico-user-add-72x72.svg" class="addhijo">
        <img *ngIf="image != '' " src={{image}} class="addhijo addhijo2">
        <p class="selectfoto">Seleccionar una foto</p>
        <p class="ingresadatos">Ahora, ingresa sus datos de tu bebé:</p>
      </ion-col>
    </ion-row>
    <ion-item class="inputitem" lines="inset">
      <ion-label>Mi nombre es:</ion-label>
      <ion-input formControlName="nombre" required type="text"></ion-input>
    </ion-item>
    <ion-item class="inputitem" lines="inset">
      <ion-label>Mi apellido paterno es:</ion-label>
      <ion-input formControlName="apellido" required type="text"></ion-input>
    </ion-item>
    <ion-item class="inputitem" lines="inset">
      <ion-label>Mi apellido materno es:</ion-label>
      <ion-input formControlName="materno" required type="text"></ion-input>
    </ion-item>
    <ion-item class="inputitem" lines="inset" (click)="openModalOpcion()">
      <ion-label class="select-genero">Mi sexo es:</ion-label>
        <ion-label>{{generoselect}}</ion-label>
        <ion-icon slot="end" src="/assets/icon/ico-form-select-light.svg"></ion-icon>
    </ion-item>
    <ion-item class="inputitem" lines="inset">
      <ion-label>Nací el día:</ion-label>
      <ion-input formControlName="fecha" required readonly  [liIonic4Datepicker]="datePickerObj"></ion-input>
      <ion-icon slot="end" src="/assets/icon/ico-form-calendario.svg"></ion-icon>
    </ion-item>
    <ion-item class="ion-text-center masdatos" lines="full" (click)="mostrarmasdatos()" *ngIf="!masdatos">
      <ion-label>+ Agregar más datos</ion-label>
    </ion-item>
    <ion-item class="inputitem" lines="inset" *ngIf="masdatos">
      <ion-label>Mi peso al nacer fue:</ion-label>
      <ion-input formControlName="peso" required type="text"></ion-input>
    </ion-item>
    <ion-item class="inputitem" lines="inset" *ngIf="masdatos">
      <ion-label>Mi talla al nacer fue:</ion-label>
      <ion-input formControlName="talla" required type="text"></ion-input>
    </ion-item>
    <ion-item class="inputitem" lines="inset" *ngIf="masdatos">
      <ion-label>Mi apgar fue:</ion-label>
      <ion-input formControlName="apgar" required type="text"></ion-input>
    </ion-item>
    <ion-item class="inputitem" lines="inset" *ngIf="masdatos">
      <ion-label>Nací en:</ion-label>
      <ion-input formControlName="lugar" required type="text"></ion-input>
    </ion-item>
    <ion-item class="inputitem" lines="inset" (click)="openModalNacionalidad()" *ngIf="masdatos">
      <ion-label class="select-genero">Mi nacionalidad es:</ion-label>
        <ion-label>{{nacionalidadselect}}</ion-label>
        <ion-icon slot="end" src="/assets/icon/ico-form-select-light.svg"></ion-icon>
    </ion-item>
    <ion-item class="inputitem" lines="inset" *ngIf="masdatos">
      <ion-label>Mi color de pelo es:</ion-label>
      <ion-input formControlName="pelo" required type="text"></ion-input>
    </ion-item>
    <ion-item class="inputitem" lines="inset" *ngIf="masdatos">
      <ion-label>Mi color de ojos es:</ion-label>
      <ion-input formControlName="ojos" required type="text"></ion-input>
    </ion-item>
    <ion-item class="inputitem" lines="inset" *ngIf="masdatos">
      <ion-label>Me parezco a:</ion-label>
      <ion-input formControlName="parecido" required type="text"></ion-input>
    </ion-item>
    <ion-item class="inputitem" lines="inset" *ngIf="masdatos">
      <ion-label>Vivo en:</ion-label>
      <ion-input formControlName="direccion" required type="text"></ion-input>
    </ion-item>
  </form>  
  <ion-row>
    <ion-col class="ion-padding-vertical">
      <ion-button [disabled]="!agregarform.valid" (click)="onagregarhijo()">Guardar</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
