<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes-selected.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col class="ion-padding-vertical">
      <h4>¿Qué es Babybook?</h4>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="textos">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <p>Babybook es una red social privada, creada para preservar los recuerdos de tus hijos y compartirlos con tus personas de confianza, brindando un entorno seguro y respetando la privacidad para que no pierdas ningún momento importante de sus vidas.</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <p>Cada un año natural, Babybook te ayudará a crear un libro con el resumen de la vida de cada hijo, para que lo guardes y atesores por siempre.</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <ion-list class="ion-no-padding" mode="md">
        <ion-item lines="none" mode="md" [routerLink]="['/tabs/politicas']">
          <ion-label>
            <p>Política de datos</p>
          </ion-label>
          <ion-icon mode="ios" slot="end" name="chevron-forward"></ion-icon>
        </ion-item>
        <ion-item lines="none" mode="md" [routerLink]="['/tabs/condiciones']">
          <ion-label>
            <p>Condiciones de uso</p>
          </ion-label>
          <ion-icon mode="ios" slot="end" name="chevron-forward"></ion-icon>
        </ion-item>
        <ion-item lines="none" mode="md" [routerLink]="['/tabs/normas']">
          <ion-label>
            <p>Normas comunitarias</p>
          </ion-label>
          <ion-icon mode="ios" slot="end" name="chevron-forward"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
