h4{
    font-family: 'SF Pro Display';
    color: #666666;
    font-size: 25px;
    font-weight: 100;
    margin: 0px;
}

ion-list{
    ion-item{
        border-top: 1px solid #E9E9E9;
    }
    ion-item:last-child{
        border-bottom: 1px solid #E9E9E9
    }
    ion-item{
        p{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #666666;
        }
    }
    ion-icon{
        color: #DBDBDB;
    }
}