<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes-selected.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col class="ion-padding-vertical">
      <h4>Ayuda</h4>
    </ion-col>
  </ion-row>

  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding">
      <ion-list class="ion-no-padding" mode="md">
        <ion-item lines="none" mode="md" [routerLink]="['/tabs/reportar']">
          <ion-label>
            <p>Reportar un problema</p>
          </ion-label>
          <ion-icon mode="ios" slot="end" name="chevron-forward"></ion-icon>
        </ion-item>
        <ion-item lines="none" mode="md" [routerLink]="['/tabs/contacto']">
          <ion-label>
            <p>Contactar a Babybook</p>
          </ion-label>
          <ion-icon mode="ios" slot="end" name="chevron-forward"></ion-icon>
        </ion-item>
        <ion-item lines="none" mode="md" [routerLink]="['/tabs/faq']">
          <ion-label>
            <p>Preguntas frecuentes</p>
          </ion-label>
          <ion-icon mode="ios" slot="end" name="chevron-forward"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
