.addhijo{
    display: block;
    margin: auto;
    border-radius: 50%;
}

.addhijoajus{
    width: 72px;
    height: 72px;
}

.title{
    h2{
        font-family: 'SF Pro Display';
        font-size: 25px;
        color: #666666;
        font-weight: 100;
        margin: 10px 0px;
    }
    p{
        font-family: 'SF Pro Display';
        font-size: 14px;
        color: #666666;
        font-weight: 600;  
    }
}

.selectfoto{
    font-family: 'SF Pro Display';
    font-size: 12px;
    color: #82BEC7;
}

.ingresadatos{
    font-family: 'SF Pro Display';
    font-size: 14px;
    color: #666666;
    font-weight: 600;
    text-align: left;
    padding: 0 11px;
    margin-bottom: 0px;
}

.inputitem{
    ion-label{
        font-family: 'SF Pro Display';
        font-size: 14px;
        color: #666666;
        font-weight: 200;
    }

    ion-input{
        font-family: 'SF Pro Display';
        font-size: 14px;
        color: #666666;
        font-weight: 200;     
    }
}

.inputitem {
    margin-right: 16px;
}

.masdatos{
    font-family: 'SF Pro Display';
    font-size: 12px;
    color: #BFBFBF;
    font-weight: 500;   
}

::ng-deep .action-sheet-group:first-child{
    border-radius: 20px 20px 0 0;
  }

  ion-button{
    height: 40px;
    --background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);
    --border-radius: 20px;
    border-radius: 20px;
    font-size: 15px;
    --box-shadow: none;
    font-family: "SF Pro Display";
    text-transform: capitalize;
    display: block;
    margin: auto;
    width: 170px;
}

.select-genero{
    flex: inherit;
    margin-right: 10px;
  }