  .usuario{
    padding: 10px;
    ion-label{
        h3{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #666666;
            font-weight: bold;
        }
        p{
            font-family: 'SF Pro Display';
            font-weight: 200;
            font-size: 14px;
            color: #666666;
        }
        .editar{
            font-size: 12px;
            font-weight: 200;
            color: #83BFC8!important;
        }
    }
}

.avatar{
    width: 72px;
    height: 72px;
}

.line-name{
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    .avatar{
        width: 36px;
        height: 36px;
    }
    p{
        font-family: 'SF Pro Display';
        font-weight: 200;
        font-size: 12px;
        color: #62C3CD;
    }
}

.grilla-muro{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2px;
}

.ptodos{
    font-family: 'SF Pro Display';
    font-weight: 200;
    font-size: 12px;
    color: #62C3CD
}

.tipotexto{
    height: 130px;
    background: #EBEBEB;
    margin: auto;
    display: block;
    padding: 18px 19px;
    font-size: 70px;
    color: #B4B4B4;
    margin-bottom: 1px;
}

@media (min-width: 768px) {
    .grilla-muro{
        display: grid;
        grid-template-columns: 16% 16% 16% 16% 16% 16%;
        grid-gap: 6px;
    }

    .tipotexto{
        height: 130px;
        background: #EBEBEB;
        margin: auto;
        display: block;
        padding: 21px 19px;
        font-size: 70px;
        color: #B4B4B4;
        margin-bottom: 4px;
    }
}

ion-thumbnail{
    width: auto;
    height: 130px;
}