<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none" class="usuario" [routerLink]="['/tabs/ficha', usuario.id]" mode="md" *ngIf="type == 'hijo'">
    <ion-avatar slot="start" class="avatar">
      <ion-img *ngIf="usuario.img == '' || usuario.img == null" src="/assets/img/ico-user-72x72.svg"></ion-img>
      <ion-img *ngIf="usuario.img != ''" src="{{apiurl}}{{usuario.img}}"></ion-img>
    </ion-avatar>
    <ion-label>
      <h3>{{usuario.nombre}} {{usuario.apellido}}</h3>
      <p>{{usuario.nacionalidad}}, {{edad}} años.</p>
      <p class="editar">Editar</p>
    </ion-label>
  </ion-item>

  <ion-item class="line-name" lines="none" mode="md">
    <p class="ptodos"  *ngIf="type != 'hijo'">TODOS</p>
    <ion-avatar slot="end" class="avatar" [routerLink]="['/tabs/muro/hijo', hijo.id]" *ngFor="let hijo of hijos" [id]="hijo.id">
        <ion-img *ngIf="hijo.foto != ''" src="{{apiurl}}{{hijo.foto}}"></ion-img>
        <ion-img *ngIf="hijo.foto == '' || hijo.foto == null" src="/assets/img/ico-user-line-36x36.svg"></ion-img>
    </ion-avatar>
  </ion-item>

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding" class="grilla-muro">
      <ion-col *ngFor="let post of posts" [id]="post.id" (click)="gopost(post.id)">
        <ion-thumbnail>
        <img *ngIf="post.pictures.length > 0" src="{{apiurl}}{{post.pictures[0].picture}}">
        <div *ngIf="post.pictures.length == 0" class="tipotexto">
          <fa-icon [icon]="['fas', 'align-left']"></fa-icon>
          <!--<ion-text>{{post.title}}</ion-text>-->
        </div>
      </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
