<ion-header class="ion-no-border">
  <ion-toolbar translucent>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="close" defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-text slot="end">{{ nombres }}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-slides>
        <ion-slide *ngFor="let foto of fotos">
            <img *ngIf="foto == '' || foto == null" src="https://via.placeholder.com/1080x1920">
            <img *ngIf="foto != ''" src={{foto}}>
        </ion-slide>
      </ion-slides>        
    </ion-col>
  </ion-row>
</ion-content>
