ion-item{
    border-bottom: 1px solid #EEEEEE;
    ion-label{
        h3{
            font-family: 'SF Pro Display';
            color: #666666;
            font-size: 14px;
        }
    }
}

ion-list-header{
    font-family: 'SF Pro Display';
    color: #666666;
    font-size: 25px;
    font-weight: 100;
    padding-top: 0px;
    border-bottom: 1px solid #EEEEEE;
}

ion-list{
    ion-icon{
        margin: 6px 0px;
        margin-right: 16px;
        height: 35px;
        width: 35px;
    }
}