<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes-selected.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list mode="md">
        <ion-list-header class="ion-padding-vertical">
          Ajustes
        </ion-list-header>
        <ion-item lines="none" mode="md" [routerLink]="['/tabs/datos']">
          <ion-icon slot="start" src="/assets/icon/ico-ajustes-datos.svg"></ion-icon>
          <ion-label>
            <h3>Datos Personales</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" mode="md" [routerLink]="['/tabs/tab2']">
          <ion-icon slot="start" src="/assets/icon/ico-ajustes-invitar.svg"></ion-icon>
          <ion-label>
            <h3>Invitar</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" mode="md" [routerLink]="['/tabs/privacidad']">
          <ion-icon slot="start" src="/assets/icon/ico-ajustes-privacidad.svg"></ion-icon>
          <ion-label>
            <h3>Privacidad</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" mode="md" [routerLink]="['/tabs/contrasena']">
          <ion-icon slot="start" src="/assets/icon/ico-ajustes-contrasena.svg"></ion-icon>
          <ion-label>
            <h3>Cambiar contraseña</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" mode="md" [routerLink]="['/tabs/babybook']">
          <ion-icon slot="start" src="/assets/icon/ico-ajustes-ayuda-tap.svg"></ion-icon>
          <ion-label>
            <h3>¿Qué es Babybook?</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" mode="md" [routerLink]="['/tabs/ayuda']">
          <ion-icon slot="start" src="/assets/icon/ico-ajustes-ayuda.svg"></ion-icon>
          <ion-label>
            <h3>Ayuda</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" mode="md" [routerLink]="['/login']">
          <ion-icon slot="start" src="/assets/icon/ico-ajustes-salir.svg"></ion-icon>
          <ion-label>
            <h3>Cerrar Sesión</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
