<div class="inner-content">
  <ion-list>
    <ion-grid><ion-col></ion-col></ion-grid>
    <ion-item lines="none" (click)="dismiss(0)" mode="md">
      <ion-label>
        <p>Tomar foto</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="dismiss(1)" mode="md">
      <ion-label>
        <p>Desde la galeria</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="dismiss(2)" mode="md">
      <ion-label>
        <p>Eliminar Foto</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" (click)="dismiss(4)" mode="md">
      <ion-label>
        <p>Cancelar</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

