<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="close" defaultHref="#" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-text slot="end">{{ nombres }}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding">
    <ion-textarea rows="20" [formControl]="publicacion"></ion-textarea>
  </ion-row>
  
</ion-content>

<ion-footer mode="md" *ngIf="isKeyboardHide">
  <ion-row class="grid-publicar ion-padding-vertical">
    <ion-col></ion-col>
    <ion-col>
      <div>
        <ion-button mode="md" expand="full" (click)="gopublicar()">
          Publicar
        </ion-button>
      </div>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size=4 class="ion-padding">
      <ion-label class="ion-text-center">
        <p class="select">Texto</p>
      </ion-label>
    </ion-col>
    <ion-col size=4 class="ion-padding" (click)="gofoto()">
      <ion-label class="ion-text-center">
        <p>Foto</p>
      </ion-label>
    </ion-col>
    <ion-col size=4 class="ion-padding" (click)="govideo()">
      <ion-label class="ion-text-center">
        <p>Video</p>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-footer>