ion-header{
    ion-toolbar{
        --background: #E0E0E0;
    }
}

ion-footer{
    --background: #252525;
    background: #252525;
    ion-label{
        p{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #FFFFFF;
            opacity: 0.4;
        }
        .select{
            font-family: 'SF Pro Display';
            font-size: 14px;
            color: #00C4FF;
            opacity: 1;
        }
    }

    div{
        border-radius: 25px;
        width: 140px;
        height: 50px;
        border: 2px solid white;
        padding: 0px;
        overflow: hidden;
        background: linear-gradient(90deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 50%, rgba(87,223,194,1) 100%);;
    }

    ion-button{
        --background: none;
        border: 5px solid #252525;
        --border-radius: 25px;
        border-radius: 25px;
        font-size: 14px;
        --box-shadow: none;
        font-family: 'SF Pro Display';
        text-transform: initial;
        height: 46px;
        margin: 0px;
    }

    .grid-publicar{
        display: grid;
        grid-template-columns: 30% 40% 30%;
    }
}

ion-textarea{
    font-family: 'SF Pro Display';
    font-size: 14px;
    color: #659AC9;
    padding-right: 8px;
}

ion-text{
    margin-right: 20px;
    font-family: 'SF Pro Display';
    font-size: 14px;
    color: #7D7D7D;
}

@media (min-width: 768px) {
    ion-footer div{
        margin: auto;
    }
}