ion-input{
    border-bottom: 1px solid #E9E9E9;
    font-family: 'SF Pro Display';
    color: #666666;
    font-size: 14px;
}

.row1{
    padding-top: 6px;
}

.fotoperfil{
    width: 72px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

h4{
    font-family: 'SF Pro Display';
    color: #666666;
    font-size: 25px;
    font-weight: 100;
    margin: 0px;
}

.edit{
    font-family: 'SF Pro Display';
    color: #82BEC7;
    font-size:12px;
}

ion-item{
    --min-height: 38px;
    height: 38px;
    ion-label{
        font-family: 'SF Pro Display';
        color: #666666;
        font-size: 14px;
        min-width: 120px;
    }
}

.info{
    border-bottom: 1px solid #E9E9E9;
    ion-label{
        font-weight: bold;
    }
}

.select-modal{
    max-width: 120px;
}

.label-select{
    min-height: 16.8px;
    border-bottom: 1px solid #E9E9E9;
    padding: 10px 0px 10px 8px;
    margin: 0px;
    margin-bottom: 10px;
}

.select-icon{
    border-bottom: 1px solid #E9E9E9;
    padding: 0px 0px 4px 8px;
    margin: 0px;
}