<ion-header [translucent]="true" mode="md">
  <ion-toolbar mode="md">
    <ion-title mode="md" [routerLink]="['']" class="ion-activatable ripple-parent">
      <ion-ripple-effect></ion-ripple-effect>
      <img class="logo-header" src="/assets/img/IMG_2098.PNG">
    </ion-title>
    <ion-buttons slot="end" mode="md">
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/libro']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-book.svg"></ion-icon>
      </div>
      <div class="ion-activatable book ripple-parent" [routerLink]="['/tabs/ajustes']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="/assets/icon/ico-top-ajustes-selected.svg"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal row1">
    <ion-col size=8 class="ion-padding-vertical">
      <h4>Datos Personales</h4>
    </ion-col>
    <ion-col size=4 (click)="openModalImage()">
      <img *ngIf="image == '' || image == null" class="fotoperfil" src='/assets/img/ico-user-72x72.svg'>
      <img *ngIf="image && image != '' " class="fotoperfil" src={{image}}>
      <ion-label class="ion-text-center"><p class="edit">Editar foto</p></ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="none" lines="none" mode="md">
        <ion-label mode="md" position="fixed">ID Usuario:</ion-label>
        <ion-input mode="md" [formControl]="user" (ionBlur)="onblur()"></ion-input>
      </ion-item>
      <ion-item color="none" mode="md" lines="none">
        <ion-label position="fixed" mode="md">Nombre:</ion-label>
        <ion-input mode="md" [formControl]="name" (ionBlur)="onblur()"></ion-input>
      </ion-item>
      <ion-item color="none" mode="md" lines="none">
        <ion-label position="fixed" mode="md">Apellido:</ion-label>
        <ion-input mode="md" [formControl]="apellido" (ionBlur)="onblur()"></ion-input>
      </ion-item>
      <ion-item color="none" mode="md" lines="none" (click)="openModalOpcion()">
          <ion-label class="select-modal">Género:</ion-label>
          <ion-label class="label-select">{{generoselect}}</ion-label>
          <ion-icon slot="end" src="/assets/icon/ico-form-select-light.svg" class="select-icon"></ion-icon>
      </ion-item>
      <ion-item (click)="mostrarprivada()" *ngIf="!privada" class="info" lines="none" mode="md">
        <ion-label class="ion-text-center">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="privada" class="info" lines="none" mode="md">
        <ion-label>
          Información privada
        </ion-label>
      </ion-item>
      <ion-item color="none" lines="none" *ngIf="privada" mode="md">
        <ion-label mode="md" position="fixed">Fecha nacimiento:</ion-label>
        <ion-input mode="md" [formControl]="fecha" [liIonic4Datepicker]="datePickerObj" (ionBlur)="onblur()"></ion-input>
        <ion-icon slot="end" src="/assets/icon/ico-form-calendario.svg"></ion-icon>
      </ion-item>
      <ion-item color="none" mode="md" *ngIf="privada" lines="none" (click)="openModalNacionalidad()">
        <ion-label class="select-modal">Nacionalidad:</ion-label>
        <ion-label class="label-select">{{nacionalidadselect}}</ion-label>
        <ion-icon slot="end" src="/assets/icon/ico-form-select-light.svg" class="select-icon"></ion-icon>
      </ion-item>
      <ion-item color="none" lines="none" *ngIf="privada" mode="md">
        <ion-label mode="md" position="fixed">País de residencia:</ion-label>
        <ion-input mode="md" [formControl]="pais" (ionBlur)="onblur()"></ion-input>
      </ion-item>
      <ion-item color="none" lines="none" *ngIf="privada" mode="md">
        <ion-label mode="md" position="fixed">Ciudad:</ion-label>
        <ion-input mode="md" [formControl]="ciudad" (ionBlur)="onblur()"></ion-input>
      </ion-item>
      <ion-item color="none" lines="none" *ngIf="privada" mode="md">
        <ion-label mode="md" position="fixed">Correo electrónico:</ion-label>
        <ion-input mode="md" [formControl]="correo" (ionBlur)="onblur()"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>
