ion-content{
    --background: linear-gradient(45deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 35%, rgba(87,223,194,1) 100%);
    background: linear-gradient(45deg, rgba(206,92,220,1) 0%, rgba(65,155,204,1) 35%, rgba(87,223,194,1) 100%);
}

ion-header {
    ion-toolbar {
      --background-color: transparent;
      --ion-color-base: transparent !important;
      --background: transparent;
    }
  }

  .registro_title{
    font-family: 'SF Pro Display';
    color: #ffffff;
    font-size: 25px;
    font-weight: 100;
  }

  .registro_sub{
    font-family: 'SF Pro Display';
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
  }

  ion-list{
    font-family: 'SF Pro Display';
    background-color: transparent;
      ion-item{
        --padding-start:0;
        --min-height: 38px;
        height: 38px;
          ion-label{
            font-family: 'SF Pro Display';
            color: #ffffff;
            font-size: 14px;
          }
          ion-input{
              border-bottom: 1px solid #ffffff;
              font-family: 'SF Pro Display';
              color: #ffffff;
              font-size: 14px;
          }
          ion-select{
            width: 100%;
            max-width: 100%;
            border-bottom: 1px solid #ffffff;
            font-family: 'SF Pro Display';
            color: #ffffff;
            font-size: 14px;
            padding-bottom: 5px;
            padding-left: 8px;
          }
      }
  }

  img {
    width: 80%;
    border: 0;
    margin: auto;
    display: block;
  }

  ion-button{
    height: 45px;
    border: 1px solid white;
    --background: transparent;
    --border-radius: 22px;
    border-radius: 22px;
    font-size: 18px;
    --box-shadow: none;
    font-family: 'SF Pro Display';
    text-transform: uppercase;
}

.check-icon{
  border-bottom: 1px solid;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 12px;
  margin: 0px;
  color: #ffffff;
}

.checkajuste{
  padding-bottom: 4px;
}

.checkajuste2{
  padding-bottom: 6px;
}

ion-input::ng-deep .native-input  {
  padding-bottom: 4px;
}

::ng-deep .action-sheet-group:first-child{
  border-radius: 20px 20px 0 0;
}

.select-genero{
  width: 100%;
    display: flex;
    border-bottom: 1px solid #fff;
    padding: 10px 0px 7px 7px;
    ion-label{
      width: 100%;
    }
    ion-icon{
      color: #ffffff;
    }
}

.checkajuste2 {
  padding-bottom: 7px;
}