<ion-header class="ion-no-border">
  <ion-toolbar translucent>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen >
  <ion-row class="ion-padding-horizontal">
    <ion-col class="ion-padding-horizontal">
      <img class="logo-header" src="/assets/img/IMG_2097.PNG">
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding-top">
    <ion-col>
      <ion-label class="registro_title">
        Regístrate en Babybook
      </ion-label>
    </ion-col>
  </ion-row>
  <form #registerForm="ngForm" [formGroup]="registerform">
  <ion-row class="ion-padding-bottom">
    <ion-col>
      <ion-list color="none" class="ion-no-padding">
        <ion-item color="none" lines="none" mode="md">
          <ion-label class="registro_sub">Primero debes crear un nombre de usuario:</ion-label>
        </ion-item>
        <ion-item color="none" lines="none" mode="md">
          <ion-label mode="md" position="fixed">ID Usuario:</ion-label>
          <ion-input mode="md" formControlName="usuarioid" type="text"></ion-input>
          <ion-icon mode="md" slot="end" class="check-icon" *ngIf="registerform.controls.usuarioid.status == 'VALID'" name="checkmark-circle"></ion-icon>
        </ion-item>
        <ion-item color="none" lines="none" mode="md" *ngIf="registerform.controls.usuarioid.status == 'VALID'">
          <ion-label class="registro_sub">Ahora necesitas una contraseña:</ion-label>
        </ion-item>
        <ion-item color="none" lines="none" mode="md" *ngIf="registerform.controls.usuarioid.status == 'VALID'">
          <ion-label position="fixed" mode="md">Contraseña:</ion-label>
          <ion-input formControlName="contrasena" type="password" mode="md"></ion-input>
          <ion-icon mode="md" slot="end" class="check-icon" *ngIf="registerform.controls.contrasena.status == 'VALID'" name="checkmark-circle"></ion-icon>
        </ion-item>
        <ion-item color="none" lines="none" mode="md" *ngIf="registerform.controls.contrasena.status == 'VALID'">
          <ion-label class="registro_sub">Por último, ingresa tus datos personales:</ion-label>
        </ion-item>
        <ion-item color="none" lines="none" mode="md" *ngIf="registerform.controls.contrasena.status == 'VALID'">
          <ion-label position="fixed" mode="md">Nombre:</ion-label>
          <ion-input (keyup)="onKeyUp($event,0)" formControlName="nombre" type="text" mode="md"></ion-input>
          <ion-icon mode="md" slot="end" class="check-icon" *ngIf="registerform.controls.nombre.status == 'VALID'" name="checkmark-circle"></ion-icon>
        </ion-item>
        <ion-item color="none" lines="none" mode="md" *ngIf="registerform.controls.contrasena.status == 'VALID'">
          <ion-label position="fixed" mode="md">Apellido:</ion-label>
          <ion-input (keyup)="onKeyUp($event,1)" formControlName="apellido" type="text" mode="md"></ion-input>
          <ion-icon mode="md" slot="end" class="check-icon checkajuste" *ngIf="registerform.controls.apellido.status == 'VALID'" name="checkmark-circle"></ion-icon>
        </ion-item>
        <ion-item color="none" lines="none" mode="md" *ngIf="registerform.controls.contrasena.status == 'VALID'" (click)="openModalOpcion()">
          <ion-label position="fixed" mode="md">Género:</ion-label>
          <div class="select-genero">
          <ion-label>{{generoselect}}</ion-label>
          <ion-icon mode="ios" slot="end" name="chevron-down"></ion-icon>
          </div>
          <ion-icon mode="md" slot="end" class="check-icon checkajuste2" *ngIf="registerform.controls.genero.status == 'VALID'" name="checkmark-circle"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding" *ngIf="registerform.controls.contrasena.status == 'VALID'">
    <ion-col class="ion-padding-horizontal">
      <ion-button mode="md" [disabled]="!registerform.valid" (click)="openpoliticas()" expand="block">Crear Cuenta</ion-button>
    </ion-col>
  </ion-row>
  </form>

</ion-content>
